*.pyc
*.mo
/scripts/scraping/html_dump/*.html
/doc/_*
/dbutils/*
/.coverage
/htmlcov
/bagnialmare/whoosh_index
/bagnialmare/whoosh_index_test
/bagnialmare/settings.py
/bagnialmare/settings_test.py
/uwsgi.ini
/wsgi.py
/ghostdriver.log
