beautifulsoup4
Django
python-memcached
Jinja2
MarkupSafe
Pillow
Pygments
Sphinx
argparse
django-autoslug
django-allauth
django-modeltranslation
docutils
whoosh
lxml
paramiko
psycopg2
pycrypto
python-ptrace
simplejson
sorl-thumbnail
uWSGI
Paste
django_compressor
cssmin
jsmin
geopy
django-ckeditor
pyzmq
bottlenose
