{% extends "base.html" %}

{% load i18n %}

{% block specific_css %}
<!--link href="{{ STATIC_URL }}css/slider.css" rel="stylesheet" type="text/css"/-->
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}css/booking.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block specific_js %}
<!--script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-slider.js"></script-->
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.it.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/booking.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1>{% trans "Booking details" %}</h1>
    <form method="post" enctype="multipart/form-data" role="form" id="booking-form">
      {% include "booking/form.html" %}
      <button class="btn btn-primary" type="submit" >{% trans "Book" %}</button>
    </form>
  </div>
</div>
{% endblock %}