{% load i18n %}
<div id="booking-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {% if bagno.is_managed %}
          <h3 class="modal-title my-bold" id="myModalLabel">{% trans "Booking details" %}</h3>
        {% else %}
          <h3 class="modal-title my-bold" id="myModalLabel">{% trans "Booking alternatives" %}</h3>
        {% endif %}
      </div>
      <div class="modal-body">
      {% if bagno.is_managed or bagno.mail%}
         <form id="book-online-form" action="{{ bagno.get_booking_url }}" method="post" role="form">
            {% include "booking/form.html" %}
            <button class="btn btn-primary ga_click"
                    type="submit"
                    data-category="book"
                    data-action="booked"
                    data-label="{{ bagno.slug }}">
                {% trans "Request a quote" %}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
         </form>
      {% else %}
        {% include "booking/alternatives.html" %}
      {% endif %}
      </div>
    </div>
  </div>
</div>
