{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}

{% trans "signup" as t_signup %}
{{ t_signup|capfirst }}

{% endblock %}

{% block content %}

{% trans "signup" as t_signup %}
{% trans "are_you_manager" as t_are_you_manager %}
{% trans "sign_up_button" as t_sign_up_button %}
{% trans "already_have_account" as t_already_have_account %}
{% trans "else_have_account" as t_else_have_account %}
{% trans "sign_in" as t_sign_in %}
{% trans "accetto i" as t_accept %}
{% trans "close" as t_close %}
{% trans "bagno_and_neighbourhood_hint" as t_bagno_and_neighbourhood_hint %}
{% trans "choose_neighbourhood" as t_choose_neighbourhood %}
{% trans "choose_bagno" as t_choose_bagno %}
{% trans "label_accepts_booking" as t_label_accepts_booking %}
{% trans "help_email_signup" as t_help_email_signup %}
{% trans "help_accepts_booking" as t_help_accepts_booking %}


<div class="row">
<div class="col-xs-8 col-xs-offset-2">
<h1>{% trans "Where our collaboration starts!" %}</h1>
<p>
  <a href="{{ login_url }}" title="{{ t_sign_up }}" rel="nofollow">
    {{ t_sign_in }}
  </a>
  {{ t_already_have_account }}.
  {{ t_else_have_account }}.
</p>
<p>
  {% url "contact-form" as contact_url %}
  {% blocktrans %}<p>Nice to meet you and a warm welcome from the bagnialmare.com team.</p>
<p>In this web space we’d like to host and arrange information about beach resorts of the Riviera Adriatica. Today we already provide <strong>free</strong> online visibility to more than 1.000 beach resorts in Emilia-Romagna, linking them to the large internet community on a national and international level, as the portal is navigable via all the most popular mobile devices and fully available in English.</p>
<p>If you are a manager of a beach resort you have just discovered a new <strong>space to care about</strong> to give visibility to your offer and let your customers reach and contact you very easily. We look forward to collaborate with you!</p>
<p>Add, update or remove data of your resort is very simple and instantaneous: just register in the site by filling below form and you will be able to do it in a few seconds once confirmed the activation link sent to the e-mail you’ve provided us. You may wish to search your resort using the available research features: it will be even easier to register yourself directly from your resort page!</p>
<p><strong>Oh, and!</strong> If you do not find your business resort among those available in the registration form, than you just need to <strong>report us your beach resort</strong> via the <a href='{{ contact_url }}' alt='Contact form'>available contact form</a> and wait for our insertion confirmation (via e-mail and sms if required) to finalize your registration. Easy, isn’t it?</p>
<p>Well, when you feel so, you may already throw new sunbeams on your business thanks to bagnialmare.com.</p>{% endblocktrans %}
</p>
<hr>
    <form action="{% url 'account_signup' %}" method="post" id="signup_form" class="" role="form">
      {% csrf_token %}
        <label class="my-brown" for="select_neighbourhood_and_bagno">{{ t_bagno_and_neighbourhood_hint }}:</label>
        {{ form.bagni.errors }}
        <div id="select_neighbourhood_and_bagno" class="well"> 
            <div id="choose_neighbourhood_dropdown"> 
                <div class="form-group">
                    <label class="sr-only" for="id_neighbourhood">{{ form.neighbourhood.label }}</label>
                    <select id="id_neighbourhood" class="form-control" name="neighbourhood">
                        <option value="nochoice">
                            -- {{ t_choose_neighbourhood }} --
                        </option>
                      {% for neighbourhood in select_neighbourhood %}
                        <option value="{{ neighbourhood.0 }}">
                          {{ neighbourhood.1 }}
                        </option>
                      {% endfor %}
                    </select>
                </div>
            </div>
            <div id="choose_bagno_dropdown">
                <div class="form-group">
                    <label class="sr-only" for="id_bagni">{{ form.bagni.label }}</label>
                    <select id="id_bagni" name="bagni" class="form-control">
                        <option value="nochoice" selected>
                            -- {{ t_choose_bagno }} --
                        </option>
                    </select>
                </div>
            </div>
            <p>
            {% url 'contact-form' as contact_url %}
            {% blocktrans  %}Se non trovi il tuo bagno o la tua località in questo elenco, <a href="{{ contact_url }}" title="contattaci">contattaci</a> e inviaci le informazioni che vorresti aggiungere{% endblocktrans %}
            </p>
        </div>
        <div class="form-group">
            <label class="my-brown" for="id_name">{{ form.name.label }}:</label>
            {{ form.name.errors }}
            {{ form.name }}
        </div>
        <div class="form-group">
            <label class="my-brown" for="id_surname">{{ form.surname.label }}:</label>
            {{ form.surname.errors }}
            {{ form.surname }}
        </div>
        <div class="form-group">
            <label class="my-brown" for="id_email">{{ form.email.label }}:</label>
            {{ form.email.errors }}
            <input id="id_email" class="form-control" name="email" type="text" value="{% firstof form.email.value '' %}" />
            <p>{{ t_help_email_signup }} </p>
        </div>
        <div class="form-group">
            <label class="my-brown" for="id_password1">{{ form.password1.label }}:</label>
            {{ form.password1.errors }}
            <input id="id_password1" name="password1" class="form-control" type="password">
        </div>
        <div class="form-group">
            <label class="my-brown" for="id_password2">{{ form.password2.label }}:</label>
            {{ form.password2.errors }}
            <input id="id_password2" name="password2" class="form-control"  type="password">
        </div>
        <div class="form-group">
          <div class="checkbox">
              <label class="my-brown" for="id_tos">
                  {{ t_accept }} <a id="tos_link" title="{{ form.tos.label }}" href='{% url "manager-terms" %}' target="_blank" >{{ form.tos.label }}</a>
                  {% comment %}
                  {{ t_accept }} <a id="tos_modal_link" title="{{ form.tos.label }}" href='{% url "manager-terms" %}' data-toggle="modal" target="_blank" data-target="#myTosModal" >{{ form.tos.label }}</a>
                  {% endcomment %}
            {{ form.tos.errors }}
            <input id="id_tos" name="tos" type="checkbox" checked>
            </label>
          </div>
      </div>
      <div class="form-group">
          <div class="checkbox">
              <label class="my-brown" for="id_privacy">
                  {{ t_accept }} <a id="privacy_link" title="{{ form.privacy.label }}" href='{% url "manager-privacy" %}' target="_blank" >{{ form.privacy.label }}</a>
                  {% comment %}
                  {{ t_accept }} <a id="privacy_modal_link" title="{{ form.privacy.label }}" href='{% url "manager-privacy" %}' data-toggle="modal" target="_blank" data-target="#myPrivacyModal" >{{ form.privacy.label }}</a>
                  {% endcomment %}
            {{ form.privacy.errors }}
            <input id="id_privacy" name="privacy" type="checkbox" checked>
            </label>
          </div>
      </div>
      <div class="form-group">
          <div class="checkbox">
            <label class="my-brown" for="id_accepts_booking">
              {{ t_label_accepts_booking }}
              {{ form.accepts_booking.errors }}
              <input checked="checked" id="id_accepts_booking" name="accepts_booking" type="checkbox">
            </label>
            <p class="help-block">{{ t_help_accepts_booking }}</p>
          </div>
        </div>
            {{ form.confirmation_key }}
            <button class="btn btn-primary" type="submit" >{{ t_sign_up_button|capfirst }}</button>
    </form>
</div>

{% comment %}
<!-- TOS MODAL DIALOG -->
    <div class="modal fade" id="myTosModal" tabindex="-1" role="dialog" aria-labelledby="tosModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content hp-facility-modal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="tosModalLabel" class="modal-title my-bold">{{ form.tos.label }}</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <p>{% trans "tos_content" %}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">{{ t_close|capfirst }}</button>
          </div>
        </div>
      </div>
    </div>

<!-- PRIVACY MODAL DIALOG -->
    <div class="modal fade" id="myPrivacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content hp-facility-modal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="privacyModalLabel" class="modal-title my-bold">{{ form.privacy.label }}</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <p>{% trans "privacy_content" %}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">{{ t_close|capfirst }}</button>
          </div>
        </div>
      </div>
    </div>
</div> <!-- class=row -->
{% endcomment %}

{% endblock %}

{% block specific_css %}
<link href="{{ STATIC_URL }}css/bootstrapValidator.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block specific_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrapValidator.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/signupform.js"></script>
{% trans "choose_bagno" as t_choose_bagno %}
<script type="text/javascript">
    $(function(){
            var form = $("#signup_form").bootstrapValidator(signup_form_validation);
            var neighbourhood_id = 0;
            var pre_selected_neighbourhood = "-1";
            var pre_selected_bagno = "-1";
            $("#id_neighbourhood").change(function(){
                $("#id_neighbourhood option").each(function(){
                    if($(this).prop("selected")){
                        if($(this).val() != "nochoice"){
                            neighbourhood_id = $(this).val();
                        }
                    }
                }); //id_neighbourhood
                $.getJSON("/en/json/neighbourhood/" + neighbourhood_id, function(data){
                    $("#id_bagni").empty();
                    $("#id_bagni").append('<option value="nochoice">-- {{ t_choose_bagno }} --</option>');
                    $.each(data['items'], function(index, value){
                        var html_str = '<option value="' +
                                             value[0] +
                                            '">' +
                                             value[1] +
                                             '</option>';
                        $("#id_bagni").append(html_str);
                    });
                    $("#id_bagni option").each(function(){
                        if($(this).val() == pre_selected_bagno){
                            $(this).prop("selected", true);
                            pre_selected_bagno = "-1";
                        }else{
                            $(this).prop("selected", false);
                        }
                    });
                    //revalidate the bagno field in the form
                    $("#id_bagni").trigger("change");
                });
            });
            {% if pre_selected %}
                pre_selected_neighbourhood = "{{ pre_selected.0 }}";
                pre_selected_bagno = "{{ pre_selected.1 }}";
                $("#id_neighbourhood option").each(function(){
                    if($(this).attr("value") == pre_selected_neighbourhood){
                        $(this).prop("selected", true);
                    }else{
                        $(this).prop("selected", false);
                    }
                });
                $("#id_neighbourhood").trigger("change");
            {% endif %}
        });
</script>
{% endblock specific_js %}

