<table style="width:100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="top">
<table style="width:600px" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top">
<table style="width:100%" border="0" cellspacing="0" cellpadding="20">
<tbody>
<tr>
<td valign="top">
<div style="font-family:Arial,sans-serif;font-size:12px">
	{{ text|safe }}
<table style="background-color:#4687f4;border:1px solid #4687f4;border-radius:5px 5px 5px 5px;width:50%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="color:#ffffff;font-family:Arial,sans-serif;font-size:12px;line-height:150%;padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:10px" align="center" valign="middle"><a style="color:#ffffff;text-decoration:none" href="http://bagnialmare.com/it/accounts/signup/" target="_blank">Personalizza la pagina del tuo bagno</a></td>
</tr>
</tbody>
</table>
<br><br>Non intendo rubarti altro tempo, se hai domande non esitare a contattarmi.<br><br>Buon lavoro e Buona estate 2014,<br><br>Marco<br><a href="http://bagnialmare.com/it" target="_blank">BagniAlMare.com</a></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>