<table id="backgroundTable" style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table id="templatePreheader" style="width: 600px; border: 1px solid #606060; border-radius: 5px 5px 5px 5px;" cellspacing="0" cellpadding="10">
          <tbody>
            <tr>
              <td class="preheaderContent" valign="top">
                <table id="templateContainer" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
                  <tbody>
                    <tr>
                      <td align="center" valign="top">
                        <table id="templateHeader" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td class="headerContent">
                                <a href="http://bagnialmare.com" target="_blank">
                                  <img id="headerImage campaign-icon" style="max-width: 600px;" src="http://bagnialmare.com/static/img/logo_email.png" alt="bagnialmare logo"></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top">
                        <table id="templateBody" style="width: 600px;" border="0" cellspacing="0" cellpadding="0">
                          <tbody>
                            <tr>
                              <td class="bodyContent" valign="top">
                                <table style="width: 100%;" border="0" cellspacing="0" cellpadding="20">
                                  <tbody>
                                    <tr>
                                      <td valign="top">
                                        {{ text|safe }}
                                        <table id="signature" style="width: 100%;">
                                          <tbody>
                                            <tr>
                                              <td align="left" valign="center">
                                                <div style="color: #606060;">
                                                  Il team di <strong>BagniAlMare</strong>
                                                </div>
                                              </td>
                                              <td align="right">
                                                <img src="http://bagnialmare.com/static/img/logo_email_firma.png" alt="firma email" width="60" height="50"></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top">
                        <table id="templateFooter" style="width: 600px;" border="0" cellspacing="0" cellpadding="10">
                          <tbody>
                            <tr>
                              <td class="footerContent" valign="top">
                                <table style="width: 100%;" border="0" cellspacing="0" cellpadding="10">
                                  <tbody>
                                    <tr>
                                      <td id="social" colspan="2" align="center" valign="middle">
                                        <div>
                                          <a title="BagniAlMare su Google+" href="https://plus.google.com/+Bagnialmare/" target="_blank">
                                            <img src="https://www.gstatic.com/images/icons/gplus-32.png" alt="G+ icon" width="30" height="30"></a>
                                          &nbsp;|
                                          <a title="Bagnialmare su facebook" href="https://www.facebook.com/bagnialmare" target="_blank">
                                            <img src="https://www.facebookbrand.com/img/assets/asset.f.logo.lg.png" alt="Facebook link" width="30" height="30"></a>
                                          &nbsp;|
                                          <a title="Il nostro profilo twitter" href="https://twitter.com/bagnialmare" target="_blank">
                                            <img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png" alt="logo twitter" width="38" height="30"></a>
                                          &nbsp;
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
