{% extends 'base.html' %}

{% load thumbnail i18n %}

{% block content %}
<div id="contatti">
    <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h1>{% trans "Want to drop us a line" %}?</h1>
            <p>{% include "contacts/info.html" %}</p>
        </div>
    </div>
    <div class="row">
        {% include "contacts/form.html" %}
    </div>
</div>
{% endblock content %}


{% block pagetitle %} {% trans "Contacts" %} - {{block.super}}{% endblock %}

{%block description %}{% trans "Contacts" %} {{block.super}}{% endblock %}

{% block keywords %}{% trans "Contacts" %}, {{ block.super }}{% endblock %}
