{% load i18n %}

<div class="col-xs-8 col-xs-offset-2">
    <form action="{{ submit_url }}" method="post" class="" role="form">
      {% csrf_token %}
        <div class="form-group">
            <label class="my-brown" for="id_sender">{% trans "Your email address" %}:</label>
            {{ form.sender.errors }}
            {{ form.sender }}
        </div>
        <div class="form-group">
            <label class="my-brown" for="id_message">{% trans "Message" %}:</label>
            {{ form.message.errors }}
            {{ form.message }}
        </div>
        <button class="btn btn-primary" type="submit" >{% trans "Send Your Message" %}</button>
    </form>
</div>
