{% load i18n %}

<h1>{% trans "About us" %}</h1>

<p>{% blocktrans %}We are four guys from Forlì, a city near Rimini. Every and each of us has spent summers over summers in the beach resorts of the Adriatic sea playing beach volley, sunbathing, swimming etc. We love Adriatic coast because it fits every kind of tourism: nightlife, nature or historical; and now we are happy to share our knowledge that came from experience.

Enjoy the website and if you need to ask something feel free to drop us a line filling the form below. We will be happy to answer your questions and listen to your suggestions{% endblocktrans %}</p>
