{% load i18n %}

<h1>{% trans "About us" %}</h1>
<div class="about-us">
{% blocktrans %}<p>Once upon a time there were four friends from Forlì that at the first sign of summer used to escape from the heat and the boredom of the city to the beaches on the Adriatic coast. The same beaches where only a "few" years earlier we used to play with buckets and spades.</p>
<p>Summers of foosball, beach volley, table tennis, swimming, books, nights out and... we are still here! With the aim of supporting the tradition and the passion that make the beaches of our coast unique and overall.. a place that fits everyone's taste.</p>
<p>Now enjoy the website and if you have any question or suggestion please let us know by using the form below.
We are happy to answer you questions and listen to your opinions.</p>
<p>The Bagnialmare team</p>{% endblocktrans %}
</div>