
html{
  height: 100%;
}
 
body {
  height: 100%;
  /*padding-top: 70px;*/
  /*padding-bottom: 20px;*/
  /*background-color: #393C41;*/
  /*background: url(/static/img/cream_dust.png) repeat 0 0;*/
}

.homepage-body-class{
  height: 100%;
  /*padding-top: 70px;*/
  /*padding-bottom: 20px;*/
  /*background-color: #393C41;*/
  background: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  padding-top: 10px
  /*background-color: #f5f5f5;*/
}

/* Move down content because we have a fixed navbar that is 50px tall */
#wrap > .container {
  padding-top: 50px;
}

.centered-text {
  text-align: center;
}


.homepage-first-row {
  margin-top: 150px;
}

.search-button {
  /*background-color: #0097D5;
  border-color: #0097D5;*/
  /*border-color: rgb(22, 137, 199);
  border: 1px solid rgb(16, 111, 169);
  background-color: rgb(39, 184, 246);
  background-image: linear-gradient(rgb(39, 184, 246), rgb(34, 161, 231));*/
}

.homepage-box-wrapper {
  background: none repeat scroll 0% 0% rgba(57, 60, 61, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px 4px 4px 4px;
}

.homepage-form {
  margin-bottom: 20px;
}

.homepage-input{
  margin-top: 5px;
}

.homepage-headline {
  font-size: 300%;
  /*color: #F9BF16;*/
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.homepage-sub-headline {
  font-size: 120%;
  color: rgb(249, 191, 22);/*#F9BF16;*/
}

.border-right-2 {
  border-right: 1px solid rgb(226, 226, 226);
}

.text-underlined{
    text-decoration:underline;
}

.result-wrapper-div {
  border: 1px solid rgb(226, 226, 226);
  /*rgb(226, 226, 226);*/
  padding-top: 15px;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  background-color: rgb(255,255,255);
}

.single-result-header{
}

.filter-result-header {
    margin-bottom: 20px;
    margin-top: 0px; 
}

.filter-result-box {
  background-color: rgb(247, 247, 247);
  padding: 19px 19px 19px;
  border-radius: 4px 4px 4px 4px;
}


.single-bagno-result-box {
  background-color: rgb(247, 247, 247);
  padding: 0px 15px 0px 15px;
}

.bagno-detail-wrapper-div{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 4px 4px 4px 4px;
    background-color: rgb(255,255,255);
    padding: 0px 15px 0px 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}


.bagno-detail-header{
    color: #08689B;
}

.bagno-detail-sub-header{
    border-bottom: 1px solid rgb(249, 191, 22);
    color: #08689B;
    padding-bottom: 5px;
}

.bagno-detail-address{
    border-bottom: 1px solid rgb(249, 191, 22);
    padding-bottom: 5px;
}

.hp-form
{
    text-align:  center;
    position: relative;
    top: 100px;
}
img.hp-form-image
{
    width: 100%;
    display: inline-block;

}
.hp-content
{
    margin: 20px auto;
    width: 90%;
}

.search
{
    margin-top: 20px;
}
.per-page
{
    float: right;
}
.hits-count
{
    font-weight: bold;
}
.hits-query
{
    font-style: italic;
}
.services li
{
    display: inline;
    float: left;
}

.display-inline{
    display: inline-block;
}

.search-page-label{
    padding-left: 15px;
}

.search-page-button{
    /*background-color: #0097D5;
    border-color: #0097D5;*/
    /*border: 1px solid rgb(16, 111, 169);
    background-color: rgb(39, 184, 246);
    background-image: linear-gradient(rgb(39, 184, 246), rgb(34, 161, 231));*/
}

.search-page-search-row{
    position: relative;
}

.search-page-search-row-wrapper-div{
    border: 1px solid rgb(249, 191, 22);
    /*rgb(226, 226, 226)*/
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 4px 4px 4px 4px;
    background-color: rgb(249, 191, 22);/*rgb(249, 191, 22);*/
}


.search-page-search-button-div{
    position: absolute; bottom: 0; left: 83%; 
}


.service-glyphicon{
    color: green;
}

.full-width{
    width: 100%;
}

.my-grey{
    color: rgb(102, 102, 102);
}

h1, h2, h3, h4 {
    font-family: 'Raleway', Georgia, Times, serif;
    font-weight: 500;
    color: rgb(0,0,0);
}
 
p {
    font-family: 'ABeeZee', Helvetica, Arial, sans-serif;
    color: rgb(102, 102, 102);
}

a {
    font-family: 'ABeeZee', Helvetica, Arial, sans-serif;
    color: #0097D5;
}

button {
    font-family: 'ABeeZee', Helvetica, Arial, sans-serif;
}


.navbar-default {
    /*background-color: #0097D5;*/
    background-image: -khtml-gradient(linear, left top, left bottom, from(#08689B), to(#0a6698)); 
     background-image: -moz-linear-gradient(top, #0097D5, #08689B); 
     background-image: -ms-linear-gradient(top, #0097D5, ##08689B); 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #08689B), color-stop(100%, #08689B)); 
     background-image: -webkit-linear-gradient(top, #0097D5, #08689B); 
     background-image: -o-linear-gradient(top, #0097D5, #08689B); 
     background-image: linear-gradient(#0097D5, #08689B);
    border-color: rgb(249, 191, 22);/*rgb(249, 191, 22);*/
}

.navbar-default .navbar-nav > li > a {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-brand {
    color: rgb(255, 255, 255);
}

.btn-primary { 
     background-color: hsl(201, 87%, 32%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1aa4ef", endColorstr="#0a6698"); 
     background-image: -khtml-gradient(linear, left top, left bottom, from(#0a6698), to(#1aa4ef)); 
     background-image: -moz-linear-gradient(top, #0a6698, #1aa4ef); 
     background-image: -ms-linear-gradient(top, #0a6698, #1aa4ef); 
     background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1aa4ef), color-stop(100%, ##1aa4ef)); 
     background-image: -webkit-linear-gradient(top, #0a6698, #1aa4ef); 
     background-image: -o-linear-gradient(top, #1aa4ef, #0a6698); 
     background-image: linear-gradient(#1aa4ef, #0a6698); 
     border-color: #0a6698 #0a6698 hsl(201, 87%, 27%); color: #fff !important; 
     /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased;*/ 
}
