@font-face {
  font-family: 'Droid Sans';
  src: url('../fonts/droidsans-webfont.eot');
  src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/droidsans-webfont.woff') format('woff'),
       url('../fonts/droidsans-webfont.ttf') format('truetype'),
       url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('../fonts/lobstertwo-regular-webfont.eot');
  src: url('../fonts/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lobstertwo-regular-webfont.woff') format('woff'),
       url('../fonts/lobstertwo-regular-webfont.ttf') format('truetype'),
       url('../fonts/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Henny Penny';
  src: url('../fonts/hennypenny-regular-webfont.eot');
  src: url('../fonts/hennypenny-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/hennypenny-regular-webfont.woff') format('woff'),
       url('../fonts/hennypenny-regular-webfont.ttf') format('truetype'),
       url('../fonts/hennypenny-regular-webfont.svg#henny_pennyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}