{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}

{% trans "signup" as t_signup %}
{{ t_signup|capfirst }}

{% endblock %}

{% block content %}

{% trans "account signup intro" as t_account_signup_intro %}
{% trans "signup" as t_signup %}
{% trans "sign_up_button" as t_sign_up_button %}
{% trans "already_have_account" as t_already_have_account %}
{% trans "sign_in" as t_sign_in %}

<h1>{{ t_are_you_manager|title }}</h1>

<h2>{{ t_account_signup_introi|capfirst }}</h2>

<p>{{ t_already_have_account|capfirst }} <a href="{{ login_url }}">{{ t_sign_in }}</a></p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{{ t_sign_up_button }} &raquo;</button>
</form>


{% endblock %}


