{% extends "base.html" %}

{% load l10n i18n thumbnail %}
{% load batch from custom_filters %}
{% load href_url from custom_filters %}
{% load non_href_url from custom_filters %}
{% load neighbourhood_municipality from custom_filters %}

{% block content %}
{% trans "contact_button" as t_contact_button %}
{% trans "contacts" as t_contacts %}
{% trans "details" as t_details %}
{% trans "website" as t_website %}
{% trans "modify_bagno" as t_modify_bagno %}
{% trans "are_you_the_manager" as t_are_you_the_manager %}
{% trans "image" as t_image %}
{% trans "no_images_for" as t_no_images_for %}
{% trans "no_images_add" as t_no_images_add %}
{% trans "facilities" as t_facilities %}
{% trans "facility" as t_facility %}
{% trans "facility_info_not_available" as t_facility_info_not_available %}
{% trans "email_address" as t_email_address %}
{% trans "phone_not_yet_available" as t_phone_not_yet_available %}
{% trans "bagno_detail_desc_1" as t_bagno_detail_desc_1%}
{% trans "bagno_detail_desc_2" as t_bagno_detail_desc_2 %}
{% trans "bagno_detail_desc_3" as t_bagno_detail_desc_3 %}
{% trans "bagno_detail_desc_4" as t_bagno_detail_desc_4 %}
{% trans "bagno_detail_desc_5" as t_bagno_detail_desc_5 %}


<div id="contact-form"></div>
<div id="booking-form"></div>
<div class="bagno-detail-wrapper-div">
  <div class="row bagno-header-row">
    <div class="col-sm-9 col-xs-12">
        <h1 class="bagno-detail-header">{{ object.name|safe }} {% trans "in" %} {{ object.neighbourhood }}</h1>
      <p class="bagno-detail-address">{{ object.address }} - {{ object|neighbourhood_municipality }}</p>
    </div>
    <div class="col-xs-12">
      {% if object.accepts_booking %}
              <a id="book-button"
                class="btn book-button ga_click"
                data-url="{{ object.get_booking_url }}"
                data-category="book"
                data-action="click"
                data-label="{{ object.slug }} - book-button" >{% trans "book_button" %}</a>
      {% endif %}
      {% if object.is_managed %}
            <button id="contact-form-button"
                    class="contact-form-button btn btn-primary bagno-detail-button ga_click"
                    data-url="{{ object.get_contactform_url }}"
                    data-category="contact"
                    data-action="mail-popup"
                    data-label="{{ object.slug }} - detail">
                {{ t_contact_button }}
             </button>
            {% if can_edit %}
              <a href="{{ object.get_edit_url }}" class="btn btn-primary bagno-detail-button" rel="nofollow">{{ t_modify_bagno }}</a>
            {% endif %} 
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
        <h2 class="bagno-detail-contact-title">{{ t_contacts }}</h2>
        {% if object.telephones.all %}
            {% for tel in object.get_ordered_telephones %}
              <p>
                <b class="my-bold">{{ tel.get_name_display }}:</b>
                <a class="ga_click"
                   data-category="contact"
                   data-action="telephone"
                   data-label="{{ object.slug }} - {{ tel.number }}"
                   href="tel:{{ tel.number }}"
                >{{ tel.number }}</a>
              </p>
            {% endfor %}
          {% else %}
             <p><em>{{ t_phone_not_yet_available|capfirst}}</em></p>
          {% endif %}
        <p>
          {% if object.site %}
          <b class="my-bold">{{ t_website|capfirst }}:</b>
          <a href="{{ object.site|href_url }}"
             class="ga_click"
             data-category="contact"
             data-action="website"
             data-label="{{ object.slug }} - {{ object.site }}"
             title="{{ t_bagno }} {{ t_website }}"
             target="_blank"
             rel="nofollow">
              {{ object.site|non_href_url }}</a>
          {% endif %}
        </p>
    </div>
    <div class="col-xs-12 col-sm-4">
      {% if object.images.count > 0 %}
        <div id="bagno-image-carousel" class="carousel slide image-carousel-div" data-ride="carousel" data-interval="false">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% with object.images.all as bagno_images %}
              {% for bagno_image in bagno_images %}
                  <div class="item{% if forloop.first %} active{% endif %}">
                      {% thumbnail bagno_image.image "380x260" as im %}
                        <img class="img-responsive img-rounded" src="{{ im.url }}" alt="{{ object.name|safe }} {{ t_image }}" />
                      {% endthumbnail %}
                  </div>
              {% endfor %}
              <!-- Controls -->
            {% endwith %}
          </div>
          {% if object.images.count > 1 %}
          <a class="left carousel-control" href="#bagno-image-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#bagno-image-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          <!-- Indicators -->
          <!--ol class="carousel-indicators">
            {% with object.images.all as bagno_images %}
              {% for bagno_image in bagno_images %}
                {% if forloop.first %}
                  <li data-target="#bagno-image-carousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
                {% else %}
                  <li data-target="#bagno-image-carousel" data-slide-to="{{ forloop.counter }}" ></li>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </ol-->
          {% endif %}
        </div>
      {% else %}
        <div class="no-images-wrapper-div">
            <img class ="thumbnail img-responsive" src="{{ STATIC_URL }}img/no_images.png" alt="{{ t_no_images_for }} {{ object.name|safe }}">
          <span class="no-images-text">
              <p>{{ t_no_images_add }}.</p>
          </span>
        </div>
      {% endif %}
    </div>
    <div class="col-xs-12 col-sm-4">
      <div id="bagno_map" class="well"
                       style="width: 100%; height: 240px"
                       data-x="{{ object.point.x|unlocalize }}"
                       data-y="{{ object.point.y|unlocalize }}"
                       data-name="{{ object.name }}"
                       data-address="{{ object.address }}"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="bagno-detail-sub-header">{{ t_details }}</h2>
          {% if object.description and object.is_managed %}
          <p> {{ object.description|safe }} </p>
        {% else %}
          <p>{{t_bagno_detail_desc_1}} {{ object.name }}, {{t_bagno_detail_desc_2}}.<br>{{t_bagno_detail_desc_3}} {{ object.neighbourhood }} {{t_bagno_detail_desc_4}} <a href="{% url 'search' %}?coords=&q=&l={{ object.neighbourhood }}">{{t_bagno_detail_desc_5}}</a>.</p>
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <h2 class="bagno-detail-sub-header">{{ t_facilities|title }}</h2>
      {% if object.services.count %}
        {% for category,services in services_by_category.items %}
          <div class="row">
            <div class="col-xs-12">
              <h4>
                {% filter capfirst %}
                  {% trans category.name %}
                {% endfilter %}
              </h4>
            </div>
          </div>
          {% for service_batch in services|batch:4 %}
            <div class="row">
              {% for service in service_batch %}
                <div class="col-xs-3">
                  <p>
                    <span class="glyphicon glyphicon-ok service-glyphicon"></span>
                    {% if service.hidden %}
                    <span>{% trans service.name %}</span>
                    {% else %}
                    <a href="{{ service.get_filtered_search_url }}"
                        title="{{ t_facility }}: {% trans service.name %}">
                       {% trans service.name %}
                   </a>
                   {% endif %}
                  </p>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}
      {% else %}
        <p>
        <em>{{ t_facility_info_not_available }}</em>
        </p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}


{% block specific_css %}
<!--link href="{{ STATIC_URL }}css/slider.css" rel="stylesheet" type="text/css"/-->
<link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" type="text/css"/>
<link href="{{ STATIC_URL }}css/booking.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block specific_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/single_map.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/contact_dialog.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/locales/bootstrap-datepicker.it.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/booking.js"></script>
{% endblock specific_js %}

{% block pagetitle %}{% spaceless %}
{{ object.name }} {% trans "in" %} {{ object|neighbourhood_municipality }}
{% endspaceless %}{% endblock pagetitle %}

{% block description %}{% spaceless %}
{% trans "bagno_detail_description" as t_bagno_detail_description %}
{{ t_bagno_detail_description|capfirst }} {% if object.number %}{{ object.number }} - {% endif %}{{ object.name }}, {{ object|neighbourhood_municipality }}.
{% if object.description %}
    {{ object.description|striptags }}
{% endif %}
{% endspaceless %}{% endblock description %}
