{% load thumbnail i18n %}

{% block content %}
{% trans "contacts" as t_contacts %}
{% trans "telephone_numbers" as t_telephone_numbers %}
{% trans "not_yet_available" as t_not_yet_available %}
{% trans "website" as t_website %}
{% trans "bagno" as t_bagno %}
<div id="contacts-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content hp-facility-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title my-bold" id="myModalLabel">{{ t_contacts }}</h3>
      </div>
      <div class="modal-body">
        <p>
          {% if object.telephones.all %}
          <span class="bagno-detail-label">{{ t_telephone_numbers }}:</span>
            {% for tel in object.telephones.all %}
              <p>{{ tel.name }}: {{ tel.number }}</p>
            {% endfor %}
          {% else %}
          <b class="my-bold">{{ t_telephone_numbers }}:</b>
          <em>{{ t_not_yet_available }}</em>
          {% endif %}
        </p>
        <p>
          {% if object.site %}
          <b class="my-bold">{{ t_website|capfirst }}:</b>
          <a href="{{ object.site }}"
              title="{{ t_bagno }} {{ t_website }}">
              {{ object.site }}</a>
          {% else %}
          <b class="my-bold">{{ t_website|capfirst }}:</b>
            <em>{{ t_not_yet_available }}</em>
          {% endif %}
        </p>
        {% include "contacts/form_popup.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
