{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% trans "facilities" as t_facilities %}
{% trans "help_accept_booking" as t_help_accept_booking %}

{% get_available_languages as LANGUAGES %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Modifica i dati del tuo bagno</h1>
        <hr>
        <form method="post" enctype="multipart/form-data" role="form" id="edit_form">
            {% csrf_token %}
            <div class="form-group">
                <label class="my-brown" for="id_name">{{ form.name.label }}:</label>
                {{ form.name.errors }}
               <input id="id_name" class="form-control" name="name" type="text" value="{{ form.name.value }}" />
            </div>
            <div class="form-group">
                <label class="my-brown" for="id_number">{{ form.number.label }}:</label>
                {{ form.number.errors }}
                <input id="id_number" class="form-control" name="number" type="text" value="{{ form.number.value }}" />
            </div>
            <div class="form-group">
                <label class="my-brown" for="id_address">{{ form.address.label }}:</label>
                {{ form.address.errors }}
                <input id="id_address" class="form-control" name="address" type="text" value="{{ form.address.value }}" />
            </div>
            {% comment %}
            <div class="form-group">
                <label class="my-brown" for="id_languages">{{ form.languages.label }} (tieni premuto il tasto ctrl per selezionare più righe):</label>
                {{ form.languages.errors }}
                <select multiple="multiple" class="form-control" id="id_languages" name="languages">
                {% for value,label in form.languages.field.choices %}
                    <option {% if value in form.languages.value %} selected {% endif %} value="{{ value }}">{{ label }}</option>
                {% endfor %}
                </select>                
            </div>
            {% endcomment %}
            <div class="form-group">
                <label class="my-brown" for="id_neighbourhood">{{ form.neighbourhood.label }}:</label>
                {{ form.neighbourhood.errors }}
                <select class="form-control" id="id_neighbourhood" name="neighbourhood">
                {% for value,label in form.neighbourhood.field.choices %}
                    <option {% if form.neighbourhood.value == value %} selected {% endif %}  value="{{ value }}">{{ label }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="checkbox">
                {{ form.accepts_booking.errors }}
                <label class="my-brown" for="id_accepts_booking">{{ form.accepts_booking.label }} {{ form.accepts_booking }}</label>
                <p> {{ t_help_accept_booking }} </p>
                <!--<input id="id_site" class="form-control" name="site" type="text" value="{{ form.site.value }}" /> -->
            </div>
            <div class="form-group">
                <label class="my-brown" for="id_site">{{ form.site.label }}:</label>
                {{ form.site.errors }}
                <input id="id_site" class="form-control" name="site" type="text" value="{{ form.site.value }}" />
            </div>
            <div class="form-group">
                <label class="my-brown" for="id_mail">{{ form.mail.label }}:</label>
                {{ form.mail.errors }}
                <input id="id_mail" class="form-control" name="mail" type="text" value="{{ form.mail.value }}" />
            </div>
            <hr>
            {% comment %}
            Questo è il modo di rendere un campo traducibile con una tab selection
            dentro un form.
            E' importante rispettare la gerarchia per cui:
            -+ ul.nav .nav-tabs -> relizza il tabbing
            -+ div.tab-content  -> contiene gli elementi da navigare con i tab
             |----+ div.tab-pane  - e' uno dei singoli tab visualizzati
                  |----+ div.form-group -> deve essere diverso per ogni tab-pane
            {% endcomment %}
            <ul class="nav nav-tabs">
              {% for lang in LANGUAGES %}
              <li
                {% if lang|first == LANGUAGE_CODE %}
                class="active"
                {% endif %}
              >
                <a href="#trans_description_{{ lang|first }}" data-toggle="tab">{{ lang|last }}</a>
              </li>
              {% endfor %}
            </ul>
            <div class="tab-content">
                {% for lang in LANGUAGES %}
                  {% if lang|first == LANGUAGE_CODE %}
                    <div class="tab-pane fade in active" id="trans_description_{{ lang|first }}">
                  {% else %}
                    <div class="tab-pane fade" id="trans_description_{{ lang|first }}">
                  {% endif %}
                    <div class="form-group">
                  {% if lang|first == "it" %}
                    <label class="my-brown" for="id_description_it">{{ form.description_it.label }}:</label>
                    {{ form.description_it.errors }}
                    <textarea id="id_description_it" class="form-control" rows="10" name="description_it" cols="40">{{ form.description_it.value }}</textarea>
                  {% elif lang|first == "en" %}
                    <label class="my-brown" for="id_description_en">{{ form.description_en.label }}:</label>
                    {{ form.description_en.errors }}
                    <textarea id="id_description_en" class="form-control" rows="10" name="description_en" cols="40">{{ form.description_en.value }}</textarea>
                  {% endif %}
                    </div><!-- .form-group -->
                  </div> <!-- .tab-pane -->
                {% endfor %}
            </div> <!-- tab-content -->
            {% comment %}
            Qui finisce il campo tradotto
            {% endcomment %}
            <hr>
            <h2 class="my-brown">Numeri di telefono</h2>
            <div class="row">
                {{ telephone_formset.management_form }}
                {% for telephone_form in telephone_formset %}
                    <div class="col-xs-6">
                        <div class="well">                 
                            <div class="form-group">
                                <label class="my-brown" for="id_telephones-{{ forloop.counter0 }}-name">Descrizione numero di telefono:</label>
                                {{ telephone_form.name.errors }}
                                <select class="form-control" id="id_telephones-{{ forloop.counter0 }}-name" name="telephones-{{ forloop.counter0 }}-name">
                                    {% for value,label in telephone_form.name.field.choices %}
                                        <option {% if telephone_form.name.value == value %} selected {% endif %}  value="{{ value }}">{{ label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="my-brown" for="id_telephones-{{ forloop.counter0 }}-number">Numero di telefono:</label>
                                {{ telephone_form.number.errors }}
                                <input id="id_telephones-{{ forloop.counter0 }}-number" class="form-control" type="text" name="telephones-{{ forloop.counter0 }}-number" maxlength="100" {% if telephone_form.number.value %} value="{{ telephone_form.number.value }}" {% endif %}></input>
                            </div>
                            {% if telephone_form.number.value %}
                            <div class="form-group">
                                <label class="my-brown" for="id_telephones-{{ forloop.counter0 }}-DELETE">Cancella questo numero di telefono:
                                {{ telephone_form.DELETE.errors }}
                                <input id="id_telephones-{{ forloop.counter0 }}-DELETE" type="checkbox" name="telephones-{{ forloop.counter0 }}-DELETE" {% if not telephone_form.number.value %} disabled {% endif %}>
                                 </label>
                            </div>
                            {% endif %}
                            {% for telephone_field in telephone_form %}
                                {% if telephone_field.is_hidden %}
                                    {{ telephone_field }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
            {% endfor %}
            </div>
            <hr>
            <h2 class="my-brown">Aggiungi o rimuovi foto</h2>
            <br>
            <div class="row">
                        {{ image_formset.management_form }}
                        {% for image_form in image_formset %}
                            <div class="col-xs-6">
                                {{ image_form.image }}
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label class="my-brown" for="id_images-{{ forloop.counter0 }}-name">Titolo della foto:</label>
                                    {{ image_form.name.errors }}
                                    <input id="id_images-0-name" class="form-control" type="text" name="images-0-name" 
                                           maxlength="100" {% if image_form.name.value %} value="{{image_form.name.value}}" {% endif %}></input>
                                </div>
                                <div class="form-group">
                                    <label class="my-brown" for="id_images-{{ forloop.counter0 }}-image">
                                        {% if image_form.instance.image %}Scegli un'altra foto:{% else %}Scegli una foto da caricare:{% endif %}
                                    </label>
                                    {{ image_form.image.errors }}
                                    <input id="id_images-{{ forloop.counter0 }}-image" type="file" name="images-{{ forloop.counter0 }}-image"></input>
                                </div>
                                {% if image_form.instance.image %}
                                <hr>
                                    <div class="form-group">
                                        <label class="my-brown" for="id_images-{{ forloop.counter0 }}-delete">Cancella la foto corrente:</label>
                                        {{ image_form.DELETE.errors }}
                                        {{ image_form.DELETE }}
                                    </div>
                                {% endif %}
                                {% for image_field in image_form %}
                                    {% if image_field.is_hidden %}
                                        {{ image_field }}
                                    {% endif %}
                                {% endfor %}
                             </div>
                        {% endfor %}
            </div>
            <hr>
            <h2 class="my-brown">{{ form.point.label }}</h2>
            <p>Il cerchio giallo è la posizione del tuo stabilimento balneare nella mappa che viene mostrata agli utenti. Per modificare la posizione clicca sull'icona raffigurante una matita e poi clicca sulla mappa.</p>
            <div>
                {{ form.point.errors }}
                {{ form.point }}
            </div>
            <div class="row">
               <div class="col-xs-12">
                   <hr>
                   <h2 class="my-brown">{{ t_facilities|capfirst }}</h2>
                   <p>Seleziona i checkbox corrispodenti ai servizi offerti dal tuo stabilimento balneare.</p>
               </div>
            </div>
                {% with form.services|dictsort:"attrs.cat_name" as options %}
                    {% regroup options by attrs.cat_name as groups %}
                    {% for group in groups %}
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="service-group">{{ group.grouper|capfirst }}</h3>
                            </div>
                                {% for option in group.list %}
                                <div class="col-xs-4">
                                    {{ option }}
                                </div>
                                {% endfor %}
                        </div>
                    {% endfor %}
                {% endwith %}
            <hr>
            <button class="btn btn-lg btn-primary" type="submit" >{% trans "Save" %}</button>
        </form>
        <hr>
        <p>
        {% url "contact-form" as contact_url %}
        {% blocktrans %}
        Per richiedere la cancellazione del bagno dal sito <a href="{{ contact_url }}" title="contattaci">contattaci</a> specificando esattamente il nome del bagno e la località
        {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock %}

{% block specific_css %}
<link href="{{ STATIC_URL }}css/bootstrapValidator.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block specific_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrapValidator.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editform.js"></script>
<script type="text/javascript">
    $(function(){
            $("#edit_form").bootstrapValidator(edit_form_validation);
        });
</script>
    <!--script type="text/javascript">
        $(function(){
            target_elements = []
            $("div[class^='field-trans-']").each(function(){
                field_class = $(this).attr('class')
                trans = field_class.replace("field-trans-", "").split("_");
                field = trans[0];
                lang = trans[1];
                target_id = 'tabs-'+field;
                target_element = $("#"+target_id);
                if(target_element.length == 0){
                    target_element = $('<div class="tabs" id="'+target_id+'"/>');
                    ul = target_element.append('<ul/>');
                    //$("#content-body form").prepend(target_element);
                    $(".container form").prepend(target_element);
                }
                field_id = field+'-'+lang;
                $("ul", target_element).append('<li><a href="#'+field_id+'">'+lang+'</a></li>');
                target_element.append('<div id="'+field_id+'"></div>');
                $("#"+field_id, target_element).append($(this));
            });
            $(".tabs").tabs();
        });
    </script-->
    <!--script type="text/javascript" src="{{ STATIC_URL }}js/accordion.js"></script-->
{% endblock specific_js %}
