{% extends "base.html" %}

{% load i18n %}

{% block content %}
<form method="post">{% csrf_token %}
    {% for field in form %}
        <div class="{{ field.field.css_class }}">
            {% if field.name == 'services' %}
                {{ field.label_tag }}
                <div class="accordion">
                    {% with field|dictsort:"attrs.cat_name" as options %}
                        {% regroup options by attrs.cat_name as groups %}
                        {% for group in groups %}
                            <h3 class="service-group">{{ group.grouper }}</h3>
                            <div>
                                <ul class="services">
                                    {% for option in group.list %}
                                        <li class="service col-lg-4">{{ option }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
            {% else %}
                {{ field.label_tag }} {{ field }}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}

{% block specific_js %}
    <script type="text/javascript">
        $(function(){
            target_elements = []
            $("div[class^='field-trans-']").each(function(){
                field_class = $(this).attr('class')
                trans = field_class.replace("field-trans-", "").split("_");
                field = trans[0];
                lang = trans[1];
                target_id = 'tabs-'+field;
                target_element = $("#"+target_id);
                if(target_element.length == 0){
                    target_element = $('<div class="tabs" id="'+target_id+'"/>');
                    ul = target_element.append('<ul/>');
                    $("#content-body form").prepend(target_element);
                }
                field_id = field+'-'+lang;
                $("ul", target_element).append('<li><a href="#'+field_id+'">'+lang+'</a></li>');
                target_element.append('<div id="'+field_id+'"></div>');
                $("#"+field_id, target_element).append($(this));
            });
            $(".tabs").tabs();
            $(".accordion").accordion({'heightStyle': 'content'});
        });
    </script>
{% endblock specific_js %}
