{% extends "base.html" %}

{% load i18n %}


{% block pagetitle %}
    {% trans "bagni_page_pagetitle" as t_bagni_page_pagetitle %}
    {{ t_bagni_page_pagetitle|capfirst }}
{% endblock pagetitle %}

{% block description %}
    {% trans "bagni_page_desc" as t_bagni_page_desc %}
    {{ t_bagni_page_desc|capfirst }}.
{% endblock description %}

{% block content %}
{% cache 600 bagni %}
{% trans "bagni_page_header" as t_bagni_page_header %}
{% trans "bagni_page_sub_header_outside_link" as t_bagni_page_sub_header_outside_link %}
{% trans "bagni_page_sub_header_inside_link" as t_bagni_page_sub_header_inside_link %}
{% trans "bagni_page_locations" as t_bagni_page_locations %}
{% trans "bagni_page_province_of" as t_bagni_page_province_of %}
{% trans "bagni_page_comune_of" as t_bagni_page_comune_of %}
{% trans "bagni_page_facilities" as t_bagni_page_facilities %}
  <div class="row">
      <div class="col-xs-12">
          <h1>{{ t_bagni_page_header|capfirst }}</h1>
          <br>
          <p>{{ t_bagni_page_sub_header_outside_link|capfirst }} <a href="#{{ t_bagni_page_sub_header_inside_link }}">{{ t_bagni_page_sub_header_inside_link }}</a>.</p>
          <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
      <h2>{{ t_bagni_page_locations|capfirst }}:</h2>
      {% for district in districts %}
          <h3>{{ t_bagni_page_province_of|capfirst }} {{ district.name }}</h3>
              <ul>
                  {% for municipality in district.municipalities.all %}
                  <li>
                    <h4><a href="{{ municipality.get_absolute_url }}" >{{ t_bagni_page_comune_of|capfirst }} {{ municipality.name }}</a></h4>
                  </li>
              <ul>
                {% for neighbourhood in municipality.neighbourhoods.all %}
                <li>
                  <p>
                  <a href="{{ neighbourhood.get_absolute_url }}" >{{ neighbourhood.name }}</a>
                  </p>
                </li>
                {% endfor %}
              </ul>
            {% endfor %}
            </ul>
      {% endfor %}    
      <hr>
      <h2 id="{{ t_bagni_page_sub_header_inside_link }}" class="facility_list">{{ t_bagni_page_facilities|capfirst }}:</h2>
      {% for facility_category in facility_categories %}
          <h3>{% trans facility_category.name|capfirst %}</h3>
          <ul>
          {% for service in facility_category.services.all %}
          <li><p><a href="{{ service.get_absolute_url }}">{% trans service.name %}</a></p></li>
          {% endfor %}
          </ul>
      {% endfor %}
      </div>
  </div>
{% endcache %}
{% endblock %}
