{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% trans "no_bagno" as t_no_bagno %}
    <ul>
      {% for bagno in object_list %}
        <li><a href="{{ bagno.get_absolute_url }}">{{ bagno.name }}</a></li>
      {% empty %}
        <li>{{ t_no_bagno }}</li>
      {% endfor %}
    </ul>
{% endblock content %}

{% block title %}
{% trans 'bagni' as t_bagni %}
{{ t_bagni|title }}
{% endblock title %}

{% block pagetitle %}
{% trans 'bagni' as t_bagni %}
{{ t_bagni|title }}
{% endblock pagetitle %}
