{% load thumbnail i18n %}

{% block content %}
{% trans "contacts" as t_contacts %}
{% trans "telephone_numbers" as t_telephone_numbers %}
{% trans "not_yet_available" as t_not_yet_available %}
{% trans "website" as t_website %}
<div id="contatti">
    <div>
        <h2 class="bagno-detail-sub-header">{{ t_contacts }}</h2>
      <div>
        <p>
          {% if object.telephones.all %}
          <span class="bagno-detail-label">{{ t_telephone_numbers }}:</span>
            {% for tel in object.telephones.all %}
              {{ tel.name }} {{ tel.number }}
              {% if forloop.last %}
              {% else %}
                -
              {% endif %}
            {% endfor %}
          {% else %}
          <b class="my-bold">{{ t_telephone_numbers }}:</b>
          <em>{{ t_not_yet_available }}</em>
          {% endif %}
        </p>
        <p>
          {% if object.site %}
          <b class="my-bold">{{ t_website|capfirst }}:</b>
            <a href="{{ object.site }}">{{ object.site }}</a>
          {% else %}
          <b class="my-bold">{{ t_website|capfirst }}:</b>
            <em>{{ t_not_yet_available }}</em>
          {% endif %}
        </p>
      </div>
    </div>
    <div>
        {% include "contacts/form.html" %}
    </div>
</div>
{% endblock content %}
