{% extends "base.html" %}

{% load l10n i18n thumbnail %}
{% load batch from custom_filters %}
{% load neighbourhood_municipality from custom_filters %}

{% block content %}
{% trans "contact_button" as t_contact_button %}
{% trans "contacts" as t_contacts %}
{% trans "website" as t_website %}
{% trans "modify_bagno" as t_modify_bagno %}
{% trans "are_you_the_manager" as t_are_you_the_manager %}
{% trans "image" as t_image %}
{% trans "no_images_for" as t_no_images_for %}
{% trans "no_images_add" as t_no_images_add %}
{% trans "facilities" as t_facilities %}
{% trans "facility" as t_facility %}
{% trans "facility_info_not_available" as t_facility_info_not_available %}

<div id="contact-form"></div>
<div class="bagno-detail-wrapper-div">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="bagno-detail-header">{{ object.name|safe }}</h1>
      {% if object.is_managed %}
        {% if can_edit %}
          <a href="{{ object.get_edit_url }}" class="btn btn-primary">{{ t_modify_bagno }}</a>
        {% else %}
          <button id="contact-form-button" class="btn btn-primary" data-url="{{ object.get_contactform_url }}">
            {{ t_contact_button }}
          </button>
        {% endif %} 
      {% else %}
        {% if not user.is_authenticated %}
        {% comment %}
          <a href="{% url 'authauth_signup' %}?selected={{ object.pk }}" class="btn btn-primary">{{ t_are_you_the_manager }}</a>
        {% endcomment %}
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="bagno-detail-address">{{ object.address }} - {{ object|neighbourhood_municipality }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-5">
      {% if object.images.all %}
        <div id="bagno-image-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            {% with object.images.all as bagno_images %}
              {% for bagno_image in bagno_images %}
                {% if forloop.first %}
                  <li data-target="#bagno-image-carousel" data-slide-to="{{ forloop.counter }}" class="active"></li>
                {% else %}
                  <li data-target="#bagno-image-carousel" data-slide-to="{{ forloop.counter }}" ></li>
                {% endif %}
              {% endfor %}
            {% endwith %}
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% with object.images.all as bagno_images %}
              {% for bagno_image in bagno_images %}
                  <div class="item{% if forloop.first %} active{% endif %}">
                      <img src="{{ bagno_image.image.url }}" alt="{{ object.name|safe }} {{ t_image }}" />
                  </div>
              {% endfor %}
              <!-- Controls -->
            {% endwith %}
          </div>
          <a class="left carousel-control" href="#bagno-image-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#bagno-image-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      {% else %}
        <div class="no-images-wrapper-div">
            <img class ="thumbnail img-responsive" src="{{ STATIC_URL }}img/no_images.png" alt="{{ t_no_images_for }} {{ object.name|safe }}">
          <span class="no-images-text">
              <p>{{ t_no_images_add }}.</p>
          </span>
        </div>
      {% endif %}
    </div>
    <div class="col-xs-6 col-sm-5 col-sm-offset-2">
      <div id="bagno_map" class="well"
                       style="width: 100%; height: 350px"
                       data-x="{{ object.point.x|unlocalize }}"
                       data-y="{{ object.point.y|unlocalize }}"
                       data-name="{{ object.name }}"
                       data-address="{{ object.address }}"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2 class="bagno-detail-sub-header">{{ t_contacts }}</h2>
        <p>
          {% if object.telephones.all %}
            {% for tel in object.telephones.all %}
              <p>
                <b class="my-bold">{% trans tel.name %}:</b> <a href="tel:{{ tel.number }}">{{ tel.number }}</a></p>
            {% endfor %}
          {% endif %}
        </p>
        <p>
          {% if object.site %}
          <b class="my-bold">{{ t_website|capfirst }}:</b>
          <a href="{{ object.site }}"
              title="{{ t_bagno }} {{ t_website }}">
              {{ object.site }}</a>
          {% endif %}
        </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <h2 class="bagno-detail-sub-header">{{ t_facilities|title }}</h2>
      {% if object.services.count %}
        {% for category,services in services_by_category.items %}
          <div class="row">
            <div class="col-xs-12">
              <h4>
                {% filter capfirst %}
                  {% trans category.name %}
                {% endfilter %}
              </h4>
            </div>
          </div>
          {% for service_batch in services|batch:4 %}
            <div class="row">
              {% for service in service_batch %}
                <div class="col-xs-3">
                  <p>
                    <span class="glyphicon glyphicon-ok service-glyphicon"></span>
                    <a href="{{ service.get_filtered_search_url }}"
                        title="{{ t_facility }}: {% trans service.name %}">
                       {% trans service.name %}
                    </a>
                  </p>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        {% endfor %}
      {% else %}
        <p>
        <em>{{ t_facility_info_not_available }}</em>
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}

{% block specific_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/single_map.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/contact_dialog.js"></script>
{% endblock specific_js %}

{% block pagetitle %}
    {{ object.name }},
    {{ object|neighbourhood_municipality }}
{% endblock pagetitle %}

{% block description %}{% trans "bagno_detail_description" as t_bagno_detail_description %} {{ t_bagno_detail_description|capfirst }} {% if object.number %}{{ object.number }} - {% endif %}{{ object.name }}, {{ object|neighbourhood_municipality }}.{% endblock description %}
