{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <table>
        {% for service in object_list %}
            {% for bagno in service.bagni.all %}
                <tr>
                    <td>{{ bagno.name }}</td>
                    <td>{{ service.name }}</td>
                    <td>{{ bagno.address }}</td>
                    <td>{{ bagno.municipality.name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock content %}

{% block title %}{% trans 'Vista Bagni VS Servizi' %}{% endblock title %}

{% block pagetitle %}{% trans 'Vista Bagni VS Servizi' %}{% endblock pagetitle %}
