{% extends "base.html" %}

{% load i18n %}
{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>Il tuo bagno in prima pagina!</h1>
    <p>
    Inviaci qualche scatto del tuo bagno e conquista la prima pagina di bagnialmare.com per tutto il mese di <strong>Agosto 2014</strong> oltre ad un <strong>link diretto</strong> alla pagina del tuo bagno.
    </p>
    <p>
    Tutti i bagni registrati al portale possono partecipare inviandoci le foto a <strong><a href="mailto:info@bagnialmare.com">info@bagnialmare.com</a></strong>: i migliori fotografi siete voi, per cui se sei il gestore di un bagno <a href="{% url 'authauth_signup' %}">registrati per partecipare al concorso e gestire la pagina del tuo bagno su bagnialmare.com</a> 
    </p>
    <p>
    <strong>Cosa si vince?</strong>  Bagnialmare valuterà le proposte fotografiche ricevute e pubblicherà direttamente in home page, per tutto il mese di Agosto 2014 la foto giudicata più idonea <strong>includendo una menzione speciale per il vincitore e il link alla relativa vetrina su Bagnialmare</strong> anche attraverso le nostre pagine social.
    </p>
    <p>
    Amici, confidiamo sulla vostra creatività e attendiamo le vostre foto !
    </p>
    <hr />
    <h3>REGOLAMENTO</h3>
    <p>
    <strong>Quante  e quali foto posso inviare?</strong> Bagnialmare accetterà fino a un massimo di 3 foto per stabilimento <a href="{% url 'authauth_signup' %}">registrato</a>. Le fotografie canditate alla scelta rispetteranno i seguenti requisiti:
    </p>
    <ul>
        <li>Non contengono inquadrature di persone facilmente identificabili, tantomeno se minori</li>
        <li>Non contengono riferimenti espliciti a marchi (ivi compreso quello della struttura stessa)</li>
        <li>Includono uno spazio all’aperto in Riviera in una bella giornata di sole</li>
    </ul>
    <p>
    <strong>Come inviare?</strong> Potete inviare le foto in formato idoneo (es. .JPG, .PNG) direttamente via email a info@bagnialmare.com dichiarando come oggetto “concorso fotografico 2014” , accettiamo anche link su dropbox, google photo, facebook, flickr e in generale immagini di vostra proprietà già pubblicate altrove
    </p>
    <p>
    <strong>Entro quando?</strong> Bagnialmare accetterà fotografie da ora e fino a lunedì 28 Luglio 2014. Il giorno 1 agosto sarà proclamato il vincitore sulle nostre pagine social, con il rimando alla nuova home page.
    </p>

</div>
{% endblock %}
