{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% trans "no_bagno_in_this_municipality" as t_no_bagno %}
{% trans "no_municipality_in_this_district" as t_no_municipality %}
{% trans "bagno" as t_bagno %}
    {% with object.municipalities.all as municipalities %}
        {% for municipality in municipalities %}
            <h2>{{ municipality.name }}</h2>
            {% with municipality.bagni.all as bagni %}
                <ul>
                {% for bagno in bagni %}
                <li><a href="{{ bagno.get_absolute_url }}"
                       title="{{ t_bagno }} {{ bagno.name }}">{{ bagno.name }}</a></li>
                {% empty %}
                  <li>{{ t_no_bagno|capfirst }}</li>
                {% endfor %}
                </ul>
            {% endwith %}
        {% empty %}
          <p>{{ t_no_municipality|capfirst }}</p>
        {% endfor %}
    {% endwith %}
{% endblock content %}

{% block title %}
{% trans "district" as t_district %}
{{ t_district|capfirst }} {{ object.name }}
{% endblock title %}

{% block pagetitle %}{% spaceless %}
{% trans "district" as t_district %}
{{ t_district|capfirst }} {{ object.name }}
{% endspaceless %}{% endblock pagetitle %}
