{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}homepage-body-class{% endblock %}
{% block navbarclass %}homepage-navbar{% endblock %}
{% block logosuffix %}_red{% endblock %}

{% block content %}
    {% comment %}
        TODO: Da rifattorizzare in un template tag da usare sia qui che in search?
    {% endcomment %}
    <div class="row homepage-first-row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 homepage-box-wrapper">
            <h1 class="homepage-headline" >{% trans "Tutte le informazioni sui bagni della Riviera Romagnola." %}</h1>
            <p class="homepage-sub-headline">{% trans "Contatti, servizi offerti e indirizzi di oltre 800 stabilimenti balneari da Cattolica a Ferrara."%}</p>

            <form id="search-form" class="col-xs-12 homepage-form" action="{% url 'search' %}" method="get">
                <input type="hidden" name="pos" value="" />
                <div class="col-md-5 homepage-input-div">
                    <label class="sr-only" for="search_q">{% trans 'What' %}</label>
                    <input class="form-control input-lg homepage-input" type="text" id="search_q" name="q" value="{{ q }}" placeholder="{% trans 'What' %}" />
                    <div class="ui-front"></div>
                </div>
                <div class="col-md-5 homepage-input-div">
                    <label class="sr-only" for="search_l">{% trans 'Near to' %}</label>
                    <input class="form-control input-lg homepage-input" type="text" id="search_l" name="l" value="{{ l }}" placeholder="{% trans 'Where' %}" />
                    <div class="ui-front"></div>
                </div>
                <div class="col-md-2 homepage-input-div">
                    <button type="submit" id="search_submit" class="btn btn-lg btn-primary homepage-input search-button" value="search">{% trans "Search" %}</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block additionaljs %}
    <script type="text/javascript">
        $(function() {
            $.backstretch("{{ STATIC_URL }}img/ombrelloni.jpg");
            var pos = "";
            function currentPositionSuccess(position)
            {
                pos = position.coords.latitude + "," + position.coords.longitude;
                $(":input[name=pos]").val(pos);
            }
            function currentPositionFailure(error)
            {
                $(":input[name=pos]").remove();
                $(":input[name=l]").val("");
            }
            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(currentPositionSuccess, currentPositionFailure);
            }
            $("#search-form").submit(function(){
                if(pos == "")
                {
                    currentPositionFailure();
                }
            });
            $("#search_l").autocomplete({
                source: function (request, response) {
                    jQuery.get("/{{ LANGUAGE_CODE }}/json/autocomplete/places", {
                    query: request.term
                    }, function (data) {
                        response(data["success"]);
                    });
                },
                minLength: 1
            }).attr('autocomplete', 'off');

            $("#search_q").autocomplete({
                source: function (request, response) {
                    jQuery.get("/{{ LANGUAGE_CODE }}/json/autocomplete/searchterms", {
                    query: request.term
                    }, function (data) {
                        response(data["success"]);
                    });
                },
                minLength: 1
            }).attr('autocomplete', 'off');
        });
    </script>
{% endblock %}

{% block title %}{% endblock title %}

{% block pagetitle %}{% trans "Homepage" %}{% endblock pagetitle %}
