{% extends "base.html" %}

{% load cache %}
{% load i18n %}

{% block bodyclass %}class="homepage-body-class"{% endblock %}
{% block logoimage %}
<img alt="bagnialmare.com logo" src="{{ STATIC_URL }}img/logo_red.png" />
{% endblock %}


{% block content %}
{% cache 600 homepage_content LANGUAGE_CODE %}
  {% trans "home_heading" as t_home_heading %}
  {% trans "what" as t_what %}
  {% trans "near_to" as t_near_to %}
  {% trans "home_facility_tooltip" as t_home_facility_tooltip %}
  {% trans "home_show_facility" as t_home_show_facility %}
  {% trans "near_me" as t_near_me %}
  {% trans "near_me_tooltip" as t_near_me_tooltip %}
  {% trans "home_search" as t_home_search %}
  {% trans "home_modal_header" as t_home_modal_header %}
  {% trans "geo_modal_text" as t_geo_modal_text %}
  {% trans "geo_modal_title" as t_geo_modal_title %}
  {% url 'search' as search_url %}
<div class="row homepage-first-row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 homepage-box-wrapper">
    <h1 class="homepage-headline" >{{ t_home_heading }}</h1>
    <p class="homepage-sub-headline">
      {% blocktrans %}Contacts, facilities and addresses of more than <a href='{{ search_url }}'>1000 beach resorts</a> from Cattolica to Ferrara
      {% endblocktrans %}
    </p>
    <form id="search-form" class="col-xs-12 homepage-form" action="{% url 'search' %}" method="get">
      <input type="hidden" name="coords" value="" />
      <div class="col-md-5 homepage-input-div">
        <label class="sr-only" for="search_q">{{ t_what|capfirst }}</label>
        <div class="input-group input-group-lg">
          <input class="form-control input-lg homepage-input" type="text" id="search_q" name="q" value="{{ q }}" placeholder="{{ t_what|capfirst }}">
          <span class="input-group-btn">
            <button id="facilities-list-trigger" title="{{ t_home_show_facility }}" class="btn btn-default hp-facility-btn ga_click" type="button" data-category="search" data-action="click" data-label="what popup">
              <span class="glyphicon glyphicon-list"></span>
            </button>
          </span>
        </div>
        <div class="ui-front"></div>
      </div>
      <div class="col-md-5 homepage-input-div">
        <label class="sr-only" for="search_l">{{ t_near_to|capfirst }}</label>
        <div class="input-group input-group-lg">
            <input class="form-control input-lg homepage-input" type="text" id="search_l" name="l" value="{{ l }}" placeholder="{{ t_near_to|capfirst }}">
            <span class="input-group-btn">
                <button id="set-my-position" title="{{ t_near_me_tooltip }}" data-position-label="{{ t_near_me }}" class="btn btn-default hp-facility-btn ga_click" type="button" data-category="search" data-action="click" data-label="where near me">
                    <span class="glyphicon glyphicon-screenshot"></span>
                </button>
          </span>
        </div>
      </div>
      <div class="col-md-2 homepage-input-div">
        <button type="submit" id="search_submit" class="btn btn-lg btn-primary homepage-input search-button" value="search">{{ t_home_search|capfirst }}</button>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="facilities_modal" tabindex="-1" role="dialog" aria-labelledby="facilities_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content hp-facility-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title my-bold" id="facilities_modal_label">{{ t_home_modal_header|capfirst }}</h3>
      </div>
      <div class="modal-body">
        {% for facility_category in facility_categories %}
        <div class="row">
          <div class="col-xs-12 modal-category-name-col">
            <h4 data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"
                              class="modal-category-name">
              <span id="spancollapse{{ forloop.counter }}" class="glyphicon {% if forloop.counter < 3 %} glyphicon-chevron-down {% else %} glyphicon-chevron-right {% endif %} facility-categoty-arrow"></span>
              {{ facility_category.name|capfirst }}
            </h4>
          </div>
        </div>
        <div id="collapse{{ forloop.counter }}" class="collapse {% if forloop.counter < 3 %} in {% endif %}" >
          <div class="row">
          {% for facility in facility_category.services.all %}
            <div class="col-sm-3 col-xs-4 modal-facility-row">
              <p>
                <a href="#" onclick="populateWhatField(this)">{% trans facility.name %}</a>
              </p>
            </div>
          {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="geo-error-modal" tabindex="-1" role="dialog" aria-labelledby="geo-error-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title my-bold" id="geo-error-modal-label">{{ t_geo_modal_title }}</h3>
      </div>
      <div class="modal-body">
         <p>{{ t_geo_modal_text }}</p>
         <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
       </div>
    </div>
  </div>
</div>
{% endcache %}
{% endblock %}

{% block specific_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/geolocation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.backstretch.min.js"></script>
<script type="text/javascript">
    //Trying to preload image
    img1 = new Image();
    img1.src = "{{ STATIC_URL }}img/ombrelloni.jpg";
    $(function() {
    $.backstretch(img1.src);
});
</script>
{% endblock specific_js %}

{% block pagetitle %}{% spaceless %}
  {% trans "homepage_title" as t_homepage_title %}
  {{ t_homepage_title|capfirst }}
{% endspaceless %}{% endblock pagetitle %}

{% block description %}{% spaceless %}
  {% trans "homepage_description" as t_homepage_description %}
  {{ t_homepage_description|capfirst }}
{% endspaceless %}{% endblock description %}

{% block footer %}
  <div id="footer" class="hp-footer">
    <div class="container centered-text">
      <p class="small">&#169; 2014 BagniAlMare  | photo by <a href="https://www.flickr.com/photos/97928958@N00/1302842154" title="photo credits" rel="nofollow">orsorama</a></p>
    </div>
  </div>
{% endblock footer %}
