{% extends "base.html" %}

{% load i18n %}

{% block bodyclass %}homepage-body-class{% endblock %}

{% block content %}
    {% comment %}
        TODO: Da rifattorizzare in un template tag da usare sia qui che in search?
    {% endcomment %}
    <div class="row homepage-first-row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 homepage-box-wrapper">
            <h1 class="homepage-headline" >Tutte le informazioni sui bagni della Riviera Romagnola.</h1>
            <p class="homepage-sub-headline">Contatti, servizi offerti e indirizzi di oltre 800 stabilimenti balneari da Cattolica a Ferrara.</p>
            <form class="form-inline homepage-form" action="{% url 'search' %}" method="get">
                <input type="hidden" name="pos" value="" />
                <div class="form-group">
                    <label class="sr-only" for="search_q">{% trans 'What' %}</label>
                    <input class="form-control input-lg homepage-input" type="text" id="search_q" name="q" value="{{ q }}" placeholder="{% trans 'What' %}" />
                </div>
                <div class="form-group">
                    <label class="sr-only" for="search_l">{% trans 'Near to' %}</label>
                    <input class="form-control input-lg homepage-input" type="text" id="search_l" name="l" value="{{ l }}" placeholder="{% trans 'Where' %}" />
                    <div class="ui-front"></div>
                </div>
                <button type="submit" id="search_submit" class="btn btn-lg btn-primary homepage-input search-button" value="search">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block additionaljs %}
    <script type="text/javascript">
        $(function() {
            $.backstretch("{{ STATIC_URL }}img/ombrelloni.jpg");
            function currentPosition(position)
            {
                $(":input[name=pos]").val(position.coords.latitude + "," + position.coords.longitude)
            }
            if(navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(currentPosition);

            }
            $("#search_l").autocomplete({
                source: function (request, response) {
                    jQuery.get("/it/json/places", {
                    query: request.term
                    }, function (data) {
                        response(data["success"]);
                    });
                },
                minLength: 3
            }).attr('autocomplete', 'on');
        });
    </script>
{% endblock %}

{% block title %}{% endblock title %}

{% block pagetitle %}{% trans "Homepage" %}{% endblock pagetitle %}
