{% extends "base.html" %}

{% load i18n %}
{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>Trattemento dei dati personali</h1>
    <p>
    D.L. 196/2003: "Codice in materia di protezione dei dati personali"
    L. 675/1996: "Tutela delle persone e di altri soggetti rispetto al
    trattamento dei dati personali".
    Nella sua qualità di "Interessato", ovvero di persona fisica o di persona
    giuridica alla quale si riferiscono i "dati personali" (di seguito
    denominati semplicemente "dati"), ai sensi degli articoli 7 e 13 della nuova
    normativa, desideriamo informarla sugli elementi fondamentali dei
    trattamenti da noi effettuati.
    </p>

    <h2>Art. 1. Finalità del trattamento</h2>
    <p>
    La raccolta ed il trattamento di dati sono effettuati al fine di:
    <ul>
        <li>creare un elenco degli utenti registrati sul portale da Lei
        visitato;</li>
        <li>permettere agli utenti registrati di essere riconosciuti dal
        software e di accedere ai vari link e funzionalità presenti nel
        sito;</li>
        <li>permettere agli utenti di usufruire dei servizi richiesti;</li>
        <li>inviare agli utenti eventuali informazioni sulle novità dei servizi
        offerti;</li>
        <li>effettuare ricerche di mercato, analisi statistiche, studi di
        settore, direttamente o tramite società terze specializzate;</li>
        <li>eseguire test di performance di contenuti e funzionalità (A/B
        testing);</li>
        <li>segnalare proposte commerciali, pubblicitarie, promozionali, di
        marketing proprie e/o anche legate all'attività;</li>
        <li>consentire agli utenti l'acquisto di eventuali servizi offerti.</li>
    </ul>
    </p>

    <h2>Art. 2. Modalità di trattamento</h2>
    <p>
    Il trattamento dei dati per le finalità esposte ha luogo con modalità
    automatizzate mediante strumenti informatici, su supporto elettronico, nel
    rispetto delle regole di riservatezza e di sicurezza previste dalla legge,
    dai regolamenti conseguenti e da disposizioni interne appositamente emanate. 
    La società si impegna a non rivelare i dati a persone non autorizzate, né ad
    usarli per scopi diversi da quelli sopra indicati. Tali dati potranno essere
    esibiti soltanto su richiesta delle autorità per legge autorizzate.
    </p>
    <h2>Art. 3. Raccolta ed archiviazione dei dati</h2>
    <p>
    I dati sono raccolti dal Titolare del trattamento. 
    I dati vengono attualmente trattati ed archiviati presso Net2EZ Managed Data
    Centers, 1780 Business Center Drive, 20190 Reston, Virginia, USA.
    </p>
    <h2>Art. 4. Natura del conferimento dei dati e conseguenze del consenso al
        trattamento</h2>
    <p>
    Alcuni dati sono indispensabili per l'instaurazione del rapporto di
    collaborazione e servizio e per la sua esecuzione, mentre altri si possono
    definire accessori a tali fini. Si devono intendere come obbligatori i dati
    di identificazione personale dell'utente ed il suo indirizzo di posta
    elettronica (dove verrà inviata la e-mail di verifica registrazione per il
    primo accesso all’area riservata), in quanto strettamente connessi alla
    natura del rapporto di collaborazione. L'eventuale rifiuto alla trasmissione
    di questi dati metterebbe la Società scrivente nelle condizioni di non poter
    dare esecuzione o prosecuzione al contratto, in quanto costituirebbe un
    trattamento illecito. Per tutti gli altri dati richiesti, da ritenersi non
    essenziali, il rifiuto non sortirebbe le conseguenze di cui sopra ma
    impedirebbe di dare esecuzione alle operazioni accessorie e di proporre
    l'intera gamma di servizi offerti dal sito.</p>
    <h2>Art. 5. Comunicazione e diffusione dei dati</h2>
    <p>
    I dati degli utenti vengono trattati esclusivamente da soggetti nominati
    incaricati del trattamento o da società incaricate di svolgere attività di
    gestione elettronica e servizio. In base alla tipologia dell'attività svolta
    ed alle modalità di trattamento stabilite dal Titolare, la diffusione dei
    dati per fini pubblicitari, di marketing e simili avverrà secondo le
    modalità indicate nelle condizioni generali di registrazione per cui il
    rapporto intercorre.
    </p>
    <h2>Art. 6. Diritti dell'interessato</h2>
    <p>
    L'art. 7 del Decreto 196/2003 riconosce all'interessato numerosi diritti in
    materia di tutela della riservatezza dei dati. Tra i principali rammentiamo:
    <ul>
        <li>ottenere la conferma dell'esistenza o meno di dati personali che lo
        riguardano;</li>
        <li>ottenere informazioni circa i dati, le finalità e modalità di
        trattamento;</li>
        <li>ottenere la cancellazione, il blocco, l'aggiornamento, la rettifica,
        l'integrazione dei dati;</li>
        <li>opporsi ai trattamenti ai fini commerciali, pubblicitari o di ricerca di
        mercato.</li>
    </ul>
    </p>
    <h2>Art. 7. Titolare e responsabile del trattamento</h2>
    <p>
    Titolare del trattamento dei dati innanzi descritto è Samira LTD, Unit 11
    Hove Business Centre, Fonthill Road, Hove, BN3 6HA, Regno Unito.</p>
</div>
{% endblock %}
