{% extends "base.html" %}

{% load i18n %}
{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>CONDIZIONI GENERALI PER LA REGISTRAZIONE AL PORTALE BAGNIALMARE.COM</h1>
    <p>
    Le presenti condizioni generali regolano i rapporti tra il gestore di
    stabilimento balneare che intende effettuare la registrazione al portale
    BagniAlMare.com (d’ora in avanti denominato per brevità “il Gestore”) e la
    società Samira LTD (d’ora in avanti denominata per brevità “la Società”),
    Company No. 07492321, VAT No. 104193939, in persona del legale
    rappresentante pro tempore, con sede in Unit 11 Hove Business Centre,
    Fonthill Road, Hove, BN3 6HA, Regno Unito. Samira LTD elegge espressamente
    domicilio per tutte le eventuali comunicazioni relative all'esecuzione delle
    presenti condizioni al seguente indirizzo: 22F Upper Tollington Park, N4
    3EL, London.
    </p>
    <h2>PREMESSO CHE</h2>
    <p>
    <ul>
        <li>La Società ha accumulato comprovata esperienza nel settore dello
        sviluppo e della gestione di siti e portali web;</li>
        <li>La Società è proprietaria dei portali BagniAlMare.com e BagniAlMare.it
        e relativi domini;</li>
        <li>Il Gestore ha interesse ad adeguatamente pubblicizzare il proprio
        stabilimento sul portale BagniAlMare.com e BagniAlMare.it di proprietà
        della Società, nonché di promuoverlo anche tramite le pubblicazioni web
        e/o cartacee curate dalla Società eventualmente in collaborazione con
        soggetti terzi (Associazioni di Categoria, Enti Pubblici, enti privati e
        siti turistici, ecc.).</li>
    </ul>
    </p>
    <h2>CONSIDERATO CHE</h2>
    <p>
    <ul>
        <li>Il detto portale offre agli utenti la possibilità di: 
            <ol>
                <li>ricercare, individuare e visitare gli stabilimenti balneari della
        località turistica di interesse in base alla disponibilità dei servizi
        offerti;</li>
                <li>contattare la struttura interessata tramite apposito form per l’invio
        di una comunicazione elettronica</li>
            </ol>
        </li>
        <li>Il detto portale offre al Gestore la possibilità di: 
            <ol>
                <li>inserire e promuovere i propri dati acquisendo visibilità sul web
                senza costi di investimento;</li>
                <li>gestire i propri dati (ad es. contatti, localizzazione, immagini,
            servizi, ecc.) in piena autonomia attraverso l’accesso (e-mail e
            password) ad un’area riservata all’interno del portale.</li>
            </ol>
        </li>
    </ul>
    </p>

    <hr />
    <p>
    Tanto premesso e considerato, facente parte integrante ed inscindibile delle
    presenti condizioni, si stabilisce quanto segue:
    </p>
    <h2> Art. 1 Oggetto </h2>
    <p>
    <strong>1.1</strong> Il Gestore acconsente che la Società promuova lo
    stabilimento balneare, rendendo i dati relativi a struttura e servizi
    visibili sui portali web: BagniAlMare.com e BagniAlMare.it, nonché
    diffondendoli su pubblicazioni web e/o cartacee curate direttamente dalla
    Società o con la collaborazione di eventuali partners (Associazioni di
    Categoria, Enti Pubblici, enti privati e siti turistici, ecc.). 
    </p>
    <p>
    <strong>1.2</strong> A titolo gratuito, sui detti portali, sarà messa a
    disposizione del Gestore una sezione ovvero 1 (una) pagina web relativa a
    tutte le informazioni afferenti la struttura balneare. Tale pagina web dovrà
    essere aggiornata e/o modificata esclusivamente dal Gestore, salvo diverso e
    separato accordo.
    </p>

    <h2>Art. 2 Durata</h2>
    <p>
    <strong>2.1</strong> Le presenti condizioni generali di registrazione si
    ritengono valide a partire dalla data di accettazione delle stesse fino al
    31/12 dello stesso anno e si intendono a titolo gratuito.
    </p>
    <p>
    <strong>2.2</strong> In caso di mancata disdetta entro 30 giorni dalla detta
    scadenza da inviarsi a mezzo e-mail all’indirizzo
    unsubscribe@bagnialmare.com, le presenti condizioni verranno rinnovate per
    l'ulteriore durata di 1 (uno) anno.
    </p>
    <p>
    <strong>2.3</strong> Successivamente al primo anno, ciascuna delle parti ha
    la facoltà di comunicare disdetta dalle presenti condizioni in ogni momento
    tramite e-mail da inviarsi all’indirizzo unsubscribe@bagnialmare.com.
    </p>
    <p>
    <strong>2.4</strong>  La disdetta così formulata comporta la cancellazione
    di tutti i dati dal sito BagniAlMare.com e BagniAlMare.it e da tutte le
    pubblicazioni web e/o cartacee da esso curate e/o ad esso collegate. 
    </p>

    <h2>Art. 3 Responsabilità </h2>
    <p>
    Il Gestore è interamente responsabile: 
    <ul>
        <li>di tutte le informazioni compilate e trasmesse tramite apposito 
        Form di registrazione (ivi compresa l’attribuzione di uno stabilimento censito e individuato sul portale).</li>
        <li>di tutte le informazioni e
        comunicazioni riguardanti il proprio stabilimento che siano inserite nelle
        pagine web dedicate.</li>
    </ul>
    </p>

    <h2>Art. 4 Informazioni rese dal Gestore </h2>
    <p>
    Il Gestore dichiara e garantisce anche nei confronti dei terzi di essere il
    proprietario e/o il gestore dello stabilimento pubblicizzato sul portale
    BagniAlMare.com e BagniAlMare.it e che le informazioni contenute e fornite,
    documentazione fotografica compresa, sono veritiere e rispettano gli
    articoli L. 633/41 (Diritto d’autore), DLG 196/03 (Legge sulla Privacy) e il
    codice di proprietà industriale e intellettuale. Il Gestore è quindi
    direttamente responsabile di tutti i dati riguardanti il proprio
    stabilimento forniti e pubblicati sul detto portale, nonché sulle
    pubblicazioni curate dalla Società e/o ad essa collegate. A tal fine si
    impegna fin d’ora a manlevare la Società da eventuali azioni risarcitori per
    danni anche non patrimoniali e/o indiretti e derivanti anche da
    dichiarazioni mendaci e/o non veritiere. 
    </p>

    <h2>Art. 5 Manleva e clausola risolutiva espressa </h2>
    <p>
    <strong>5.1</strong> Resta inteso che il Gestore dovrà indennizzare,
    proteggere e difendere a proprie cura e spese la Società ed i suoi
    dipendenti ed agenti, contro eventuali richieste di risarcimento di terzi o
    azioni legali promosse contro di essi e derivanti da violazione delle
    presenti condizioni per dolo, colpa anche eventuale e responsabilità del
    Gestore stesso.
    </p>
    <p>
    <strong>5.2</strong> Ciascuna delle Parti può risolvere immediatamente il
    presente contratto qualora l'altra parte cessi la propria attività
    commerciale, diventi insolvente o sia soggetta a bancarotta o a procedure
    esecutive fallimentari, siano esse circostanze attuali o ritenute
    ragionevolmente imminenti, cause di forza maggiore e/o caso fortuito.
    </p>

    <h2>Art. 6 Foro esclusivo </h2>
    <p>
    Per ogni controversia che dovesse insorgere su questioni relative alla
    validità, interpretazione o all’esecuzione del presente contratto, sarà
    esclusivamente competente il foro di Forlì.
    </p>
</div>
{% endblock %}
