{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% trans "municipality" as t_municipality %}
{% trans "no_municipality" as t_no_municipality %}
    <ul>
        {% for municipality in object_list %}
            <li>
            <a href="{{ municipality.get_absolute_url }}"
                title="{{ t_municipality }} {{ municipality.name }}">
               {{ municipality.name }}</a>
            </li>
        {% empty %}
            <li>{{ t_no_municipality }}</li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block title %}{% trans 'Municipalities' %}{% endblock title %}

{% block pagetitle %}{% trans 'Municipalities' %}{% endblock pagetitle %}
