{% extends "base.html" %}

{% load i18n %}

{% block content %}
    {% with object.bagni.all as bagni %}
        <ul>
        {% for bagno in bagni %}
            <li><a href="{{ bagno.get_absolute_url }}">{{ bagno.name }}</a></li>
        {% empty %}
            <li>{% trans "No bagno in this municipality" %}</li>
        {% endfor %}
        </ul>
    {% endwith %}
{% endblock content %}

{% block title %}{% trans "Municipality" %} {{ object.name }}{% endblock title %}

{% block pagetitle %}{% trans "Municipality" %} {{ object.name }}{% endblock pagetitle %}
