{% extends "base.html" %}

{% load l10n i18n custom_templatetags thumbnail %}
{% load batch from custom_filters %}
{% load cache %}

{% block robot %}noindex, follow{% endblock %}

{% block content %}
{% cache 600 search request.GET.q request.GET.l request.GET.p search_results.active_facets LANGUAGE_CODE %}
{% trans "what" as t_what %}
{% trans "where" as t_where %}
{% trans "search" as t_search %}
{% trans "bagno" as t_bagno %}
{% trans "filter_by_facility" as t_filter_by_facility %}
{% trans "active_filters" as t_active_filters %}
{% trans "active_filter" as t_active_filter %}
{% trans "results_for" as t_results_for %}
{% trans "results" as t_results %}
{% trans "near_to" as t_near_to %}
{% trans "near_me" as t_near_me %}
{% trans "near_me_tooltip" as t_near_me_tooltip %}
{% trans "filters" as t_filters %}
{% trans "list_view" as t_list_view %}
{% trans "map_view" as t_map_view %}
{% trans "your_location" as t_your_location %}
{% trans "contact_button" as t_contact_button %}
{% trans "previous" as t_previous %}
{% trans "next" as t_next %}
{% trans "first" as t_first %}
{% trans "last" as t_last %}
{% trans "no_results_for_search" as t_no_results_for_search %}
{% trans "geo_modal_text" as t_geo_modal_text %}
{% trans "geo_modal_title" as t_geo_modal_title %}
{% trans "away" as t_away %}
{% trans "image" as t_image %}


  <div id="contact-form"></div>
  <div id="wrapped">
    {% comment %}
 html - Twitter Bootstrap 3 inline and horizontal form - Stack Overflow       TODO: Da rifattorizzare in un templatetag da usare sia qui che in hp?
    {% endcomment %}
    <div class="search-page-search-row-wrapper-div">
      <div class="row search search-page-search-row">
        <form id="search-form"  role="form" action="{% url 'search' %}" method="get">
          <input type="hidden" name="coords" value="{{ search_results.coords }}" />
          {% for facet in search_results.active_facets %}
            <input type="hidden" name="f" value="services:{{ facet.slug }}" />
          {% endfor %}
          <div class="col-xs-12 col-sm-5">
              <label class="my-brown" for="search_q">{{ t_what|capfirst }}</label>
            <input class="form-control" type="text" id="search_q"
                   name="q" value="{{ search_results.q }}" />
          </div>
          <div class="col-xs-9 col-sm-5">
              <label class="my-brown" for="search_l">{{ t_where|capfirst }}</label>
              <div class="input-group">
                  <input class="form-control" type="text" id="search_l"
                         name="l" value="{{ search_results.l }}"  />
                  <span class="input-group-btn">
                  <button id="set-my-position" data-position-label="{{ t_near_me }}" title="{{ t_near_me_tooltip }}"
                          class="btn btn-default hp-facility-btn ga_click" type="button"
                          data-category="search" data-action="click" data-label="where near me">
                      <span class="glyphicon glyphicon-screenshot"></span>
                </button>
          </span>
        </div>
          </div>

          <div class="col-xs-2 col-sm-2 search-page-search-button-div">
            <button type="submit" id="search_submit"
                    class="btn btn-primary search-page-button" value="search">
              {{ t_search }}
            </button>
          </div>
        </form>
      </div><!--row search-->
    </div>

    {% if search_results.has_get %}
      <div class="row result-wrapper-div">
        <div class="col-sm-3 hidden-xs">
          {% if search_results.facets %}
            <div id="filters" data-base-url="{% url 'search' %}">
              <h3 class="filter-result-header">{{ t_filter_by_facility|capfirst }}:</h3>
              {% for facet in search_results.active_facets %}
                {% if forloop.first %}
                  <h4 class="filter-result-service-category"
                      data-toggle="collapse"
                      data-target="#collapse_active">
                    <span id="spancollapse_active"
                          class="glyphicon glyphicon-chevron-down facility-categoty-arrow"></span>
                      {{ t_active_filters|capfirst }}
                  </h4>
                  <div id="collapse_active" class="collapse in" >
                    <ul class="list-group">
                {% endif %}
                <div class="checkbox filter-result-selected-checkbox-div">
                  <label class="filter-result-selected-checkbox-label">
                    <input data-facet-url="?{{ facet.url }}"
                           type="checkbox" checked />
                    {{ facet.name }} ({{ facet.group }})
                  </label>
                </div>
                {% if forloop.last %}
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
              {% for facet_group in search_results.facets.values %}
                {% if facet_group %}
                  <div>
                    <div>
                      <h4 class="filter-result-service-category"
                          data-toggle="collapse"
                          data-target="#collapse{{ forloop.counter }}">
                        <span id="spancollapse{{ forloop.counter }}" class="glyphicon {% if facet_group.order < 3 %}glyphicon-chevron-down{% else %}glyphicon-chevron-right{% endif %} facility-categoty-arrow"></span>
                        {% filter capfirst %}
                          {% trans facet_group.name|capfirst %}
                        {% endfilter %}
                      </h4>
                    </div>
                    {% for facet in facet_group.facets %}
                      {% if forloop.first %}
                        <div id="collapse{{ forloop.parentloop.counter }}"
                             class="collapse{% if facet_group.order < 3 %} in{% endif %}" >
                          <ul class="list-group">
                      {% endif %}
                      <li class="list-unstyled">
                        <div class="checkbox filter-result-checkbox-div">
                          <label>
                            <input data-facet-url="?{{ facet.url }}"
                                   type="checkbox"
                                   class="ga_click"
                                   data-category="facet"
                                   data-action="click"
                                   data-label="{{ facet.name }}" />
                            {{ facet.name }}
                          </label>
                        </div>
                      </li>
                      {% if forloop.last %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div id="search-results" class="col-xs-12 col-sm-9">
          <p>
            <span class="hits-count">{{ search_results.count }}</span>
            {% if search_results.q %}
              {{ t_results_for }}
              <span class="hits-query">{{ search_results.q }}</span>
            {% else %}
              {{ t_results }}
            {% endif %}
            {% if search_results.place %}
              {{ t_near_to }}
              <span class="hits-query">{{ search_results.place }}</span>
            {% endif %}
            {% if search_results.active_facets|length > 0 %}
                {% if search_results.active_facets|length == 1 %}
                    <span class="hits-query">( 1 {{ t_active_filter }} )</span>
                {% else %}
                    <span class="hits-query">( {{ search_results.active_facets|length }} {{ t_active_filters }} )</span>
                {% endif %}
            {% elif search_results.count == 0 and search_results.filters|length > 0 %}
                {% if search_results.filters|length == 1 %}
                    <span class="hits-query">( 1 {{ t_active_filter }} )</span>
                {% else %}
                    <span class="hits-query">( {{ search_results.filters|length }} {{ t_active_filters }} )</span>
                {% endif %}
            {% endif %} 
          </p>
          {% if hits %}
            <ul class="nav nav-tabs search-page-tabs" id="myTab">
              <li class="visible-xs">
                <a href="#filterTab" id="filter-tab-button" data-toggle="tab" class="ga_click"
                   data-category="search-tab" data-action="click" data-label="filters">
                  {{ t_filters|capfirst }}
                </a>
              </li>
              <li class="active">
                <a href="#listTab" id="list-tab-button" data-toggle="tab" class="ga_click"
                   data-category="search-tab" data-action="click" data-label="list">
                  {{ t_list_view|capfirst }}
                </a>
              </li>
              <li>
                <a href="#mapTab" id="map-tab-button" data-toggle="tab" class="ga_click"
                   data-category="search-tab" data-action="click" data-label="map">
                  {{ t_map_view|capfirst }}
                </a>
              </li>
            </ul>
          {% endif %}
          <div id="content" class="tab-content">
            {% if hits %}
              <div class="tab-pane" id="mapTab">
                <ul id="bagniToBeMapped" class="hide">
                {% if search_results.point %}
                <li id="map_origin"
                        data-x="{{ search_results.point.x|unlocalize }}"
                        data-y="{{ search_results.point.y|unlocalize }}"
                    {% if search_results.place %}
                        data-name="{{ search_results.place }}"
                    {% else %}
                        data-name="{{ t_your_location }}"
                    {% endif %}
                    >
                </li>
                {% endif %}
                  {%  for hit in hits %}
                    {% if hit.point.x and hit.point.y %}
                      <li data-url= "{{ hit.get_absolute_url }}"
                          data-name = "{{ hit.name }}"
                          data-address = "{{ hit.address }}"
                          data-x = "{{ hit.point.x|unlocalize }}"
                          data-y = "{{ hit.point.y|unlocalize }}" >
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <div id="bagno_map" style="width: 100%; height: 500px"></div>
              </div>
              <div class="tab-pane active" id="listTab">
                {%  for hit in hits %}
                  <hr class="search-result-separator" />
                  <div class="single-bagno-result-box">
                    <a href="{{ hit.get_absolute_url }}" title="{{ t_bagno }} {{ hit.name }}">
                      <div class="row">
                        {% with hit.images.all|first as hit_image %}
                          <div class="col-sm-3 hidden-xs pull-right">
                            {% thumbnail hit_image.image "125x125" crop="center" as im %}
                              <img class="img-rounded" src="{{ im.url }}" alt="{{ hit.name|safe }} {{ t_image }}" /
                              >
                            {% endthumbnail %}
                          </div>
                        {% endwith %}
                        <div class="col-xs-12 col-sm-9">
                          <h2 class="single-result-header">
                            {{ hit.name }}, {{ hit.neighbourhood.name }}
                          </h2>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                          <p class="single-result-address">
                            {{ hit.address }} -
                            {{ hit.neighbourhood.name }},
                            {{ hit.neighbourhood.municipality.name }} -
                            {{ hit.neighbourhood.municipality.district.name }}
                            {% if hit.distance %}<span class="badge">{{ hit.distance.km|floatformat:2 }}Km {{ t_away }}</span>{% endif %}
                          </p>
                        </div>
                        {% if hit.is_managed %}
                        <div class="col-xs-12 col-sm-9">
                            <button id="contact-form-button" 
                                    class="btn btn-primary contact-form-button ga_click"
                                    data-url="{{ hit.get_contactform_url }}"
                                    data-category="contact" 
                                    data-action="mail-popup" 
                                    data-label="{{ hit.slug }} - search">
                              {{ t_contact_button }}
                            </button>
                        </div> 
                        {% endif %}
                      </div>
                    </a>
                  </div>
                {% endfor %}
                <div class="pagination">
                  <span class="step-links">
                    {% if hits.has_previous %}
                      <a href="{% query_string '' 'p' %}">
                        {{ t_first }}
                      </a>
                      <a href="{% query_string 'p=hits.previous_page_number' '' %}">
                        {{ t_previous }}
                      </a>
                    {% endif %}

                    <span class="current">
                      {% blocktrans with num_pages=search_results.num_pages page=hits.number %}
                      Page {{ page }} of {{ num_pages }}.{% endblocktrans %}
                    </span>
                    {% if hits.has_next %}
                      <a href="{% query_string 'p=hits.next_page_number'  '' %}">
                        {{ t_next }}
                      </a>
                      <a href="{% query_string 'p=search_results.num_pages'  '' %}">
                        {{ t_last }}
                      </a>
                    {% endif %}
                  </span>
                </div>
              </div>
            {% else %}
              <div class="tab-pane active" id="listTab">
                {{ t_no_restuls_for_search }}
              </div>
            {% endif %}
            <div class="tab-pane" id="filterTab">
              {% if search_results.facets.items %}
                <h3 class="filter-result-header-tab">
                  {{ t_filter_by_facility }}
                </h3>
              {% endif %}
              {% for facet in search_results.active_facets %}
                {% if forloop.first %}
                  <h4 class="filter-result-service-category"
                      data-toggle="collapse"
                      data-target="#collapse_active">
                    <span id="collapse_active"
                          class="glyphicon glyphicon-chevron-down my-brown"></span>
                      {{ t_active_filters|capfirst }}
                  </h4>
                  <div class="collapse in" >
                    <ul class="list-group">
                {% endif %}
                <div class="checkbox filter-result-selected-checkbox-div">
                  <label class="filter-result-selected-checkbox-label">
                    <input data-facet-url="?{{ facet.url }}"
                           type="checkbox" checked />
                    {{ facet.name }} ({{ facet.group }})
                  </label>
                </div>
                {% if forloop.last %}
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
              {% for facet_group in search_results.facets.values  %}
                {% if facet_group %}
                  <div>
                    <div>
                      <h4 class="filter-result-service-category"
                          data-toggle="collapse"
                          data-order="{{ facet_group.order }}"
                          data-target="#collapseInsideTab{{ forloop.counter }}">
                        <span id="spancollapseInsideTab{{ forloop.counter }}" class="glyphicon {% if facet_group.order < 3 %}glyphicon-chevron-down{% else %}glyphicon-chevron-right{% endif %} my-brown">
                        </span>
                        {% filter capfirst %}{% trans facet_group.name|capfirst %}{% endfilter %}
                      </h4>
                    </div>
                    {% for facet in facet_group.facets %}
                      {% if forloop.first %}
                        <div id="collapseInsideTab{{ forloop.parentloop.counter }}"
                             class="collapse{% if facet_group.order < 3 %} in{% endif %}" >
                          <ul class="list-group">
                      {% endif %}
                      <li class="list-unstyled">
                        <div class="checkbox filter-result-checkbox-div">
                          <label>
                            <input data-facet-url="?{{ facet.url }}"
                                   type="checkbox"
                                   class="ga_click"
                                   data-category="facet"
                                   data-action="click"
                                   data-label="{{ facet.name }}" />
                            {{ facet.name }}
                          </label>
                        </div>
                      </li>
                      {% if forloop.last %}
                          </ul>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div><!--wrapped-->
  <div class="modal fade" id="geo-error-modal" tabindex="-1" role="dialog" aria-labelledby="geo-error-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title my-bold" id="geo-error-modal-label">{{ t_geo_modal_title }}</h3>
      </div>
      <div class="modal-body">
         <p>{{ t_geo_modal_text }}.</p>
         <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
       </div>
    </div>
  </div>
</div>
{% endcache %}
{% endblock %}

{% block specific_js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/geolocation.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/contact_dialog.js"></script>
{% endblock specific_js %}


{% block pagetitle %}{% spaceless %}
{% trans "search_pagetitle" as t_search_pagetitle %}
{{ t_search_pagetitle|capfirst }}
{% endspaceless %}{% endblock pagetitle %}

{% block description %}
{% trans "search_description" as t_search_description %}{{ t_search_description }}{% endblock description %}
