{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% trans 'no_service' as t_no_service %}
{% trans 'facility' as t_facility %}
    <ul>
        {% for service in object_list %}
            <li>
            <a href="{{ service.get_absolute_url }}"
                title="{{ t_facility }}: {% trans service.name %}">
                {% trans service.name %}
              </a>
            </li>
        {% empty %}
          <li>{{ t_no_service|capfirst }}</li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block title %}
{% trans 'facilities' as t_facilities %}
{{ t_facilities|capfirst }}
{% endblock title %}

{% block pagetitle %}{% spaceless %}
{% trans 'facilities' as t_facilities %}
{{ t_facilities|capfirst }}
{% endspaceless %}{% endblock pagetitle %}

