{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% trans 'no_service' as _t_no_service %}
    <ul>
        {% for service in object_list %}
            <li>
                <a href="{{ service.get_absolute_url }}">{{ service.name }}</a>
            </li>
        {% empty %}
          <li>{{ t_no_service|capfirst }}</li>
        {% endfor %}
    </ul>
{% endblock content %}

{% block title %}
{% trans 'facilities' as t_facilities %}
{{ t_facilities|capfirst }}
{% endblock title %}

{% block pagetitle %}
{% trans 'facilities' as t_facilities %}
{{ t_facilities|capfirst }}
{% endblock pagetitle %}

