{% extends "base.html" %}

{% load i18n %}
{% load url from future %}
{% load pretty_neighbourhood from custom_filters %}

{% block pagetitle %}{% spaceless %}
  {% trans "service_detail_pagetitle" as t_service_detail_pagetitle %}
  {{ t_service_detail_pagetitle }} {% if object.seo_name %}{{ object.seo_name }}{% else %}{% trans "with" %} {{ object.name }}{% endif %}
  {% endspaceless %}{% endblock pagetitle %}


{% block description %}{% spaceless %}
  {% trans "service_detail_desc" as t_service_detail_desc %}
  {% if object.seo_name %}
    {{ t_service_detail_desc }} {{ object.seo_name }}
  {% else %}
    {{ t_service_detail_desc }} {% trans "with" %} {{ object.name }}
  {% endif %}
{% endspaceless %}{% endblock %}

{% block content %}
{% trans "service_detail_header" as t_service_detail_header %}
{% trans "service_detail_sub_header" as t_service_detail_sub_header %}
{% trans "service_detail_no_result" as t_service_detail_no_result %}
{% comment %}
    Bagni con -service.name-
    Questo e' l'elenco dei bagni che offrono il servizio di -service.name-.
{% endcomment %}
  <div class="row">
      <div class="col-xs-12">
          <h1>
            {{ t_service_detail_header|capfirst }}
            {% if object.seo_name %}
              {{ object.seo_name }}
            {% else %}
              {% trans "with" %} {{ object.name }}
            {% endif %}
          </h1>
          <p>
            {{ t_service_detail_sub_header|capfirst }}
            {% if object.seo_name %}
              {{ object.seo_name }}
            {% else %}
              {% trans "with" %} {{ object.name }}
            {% endif %}.
          </p>
      </div>
  </div>
  {% if object.description %}
  <div class="row">
      <div class="col-xs-12">
        {{ object.description|safe }}
      </div>
  </div>
  {% endif %}
  <div class="row">
      <div class="col-xs-12">
              {% regroup object.bagni.all|dictsort:"neighbourhood.name"|dictsort:"neighbourhood.municipality.name" by neighbourhood as neighborhood_list %}
              {% for n in neighborhood_list %}
                  <h4><a href="{% url 'bagni-by-facility-and-neighbourhood' facility_slug=object.slug neighbourhood_slug=n.grouper.slug %}">{{ n.grouper|pretty_neighbourhood }}</a></h4>
              {% empty %}
                  <h3>{{ t_service_detail_no_result }} {% if object.seo_name %}{{ object.seo_name }}{% else %}{% trans "with" %} {{ object.name }}{% endif %}</h3>
              {% endfor %}
      </div>
  </div>

{% endblock %}
