{% extends "base.html" %}

{% load i18n %}

{% block content %}
{% trans "bagno" as t_bagno %}
  <div class="row">
      <div class="col-xs-12">
          <h1 class="">Bagni con {{ object}}</h1>
          <p>Esplora bagni per localita o per servizio offerto.</p>
          <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          {% with bagni=object.bagni.all %}
              {% regroup bagni by neighborhood as neighborhood_list %}
              {% for neighborhood in neighborhood_list %}
                  <h3>{{ neighborhood.grouper.name }}, {{ neighborhood.grouper.municipality.name }}</h3>
                  <ul>
                  {% for bagno in neighborhood.list %}
                       <li><p class=""><a href="{{ bagno.get_absolute_url }}">{{ bagno.name}}</a></p></li>
                  {% endfor %}
                  </ul>
              {% empty %}
                  <h3>{% trans "No bagno has this service" %}</h3>
              {% endfor %}
          {% endwith %}
  </div>

{% endblock %}


{% block title %}
to-do
{% endblock title %}

{% block pagetitle %}
to-do
{% endblock pagetitle %}
