{% extends "base.html" %}

{% load i18n %}
{% block content %}
<div class="col-xs-8 col-xs-offset-2">
    <h1>INFORMATIVA SULLA TUTELA DEI DATI PERSONALI E CONSENSO AL TRATTAMENTO DEGLI STESSI (D.L. 196/2003)</h1>
    <p>
    Gentile Utente, con riferimento al D.L. 196/2003, recante disposizioni in materia di protezione dei dati personali, la società Samira LTD, con sede in Unit 11 Hove Business Centre, Fonthill Road, Hove, BN3 6HA, Regno Unito, di seguito "Samira", la informa, nella Sua qualità di Interessato, che i dati personali, da Lei volontariamente forniti (di seguito, "Dati") nei nostri portali BagniAlMare.com e BagniAlMare.it (di seguito, "Portale"), verranno trattati come segue. </p>
    <h2>1. FINALITÀ DEL TRATTAMENTO DEI DATI</h2>
    <p>
    Ai sensi dell'art.13 lettera a) del decreto legislativo citato, la raccolta e le altre operazioni di trattamento dei Dati sono effettuati da Samira per le seguenti finalità:
    <ol>
        <li>marketing e pubblicità;</li>
        <li>invio di materiale informativo e promozionale;</li>
        <li>invio di comunicazioni commerciali;</li>
        <li>analisi statistiche per finalità di marketing;</li>
        <li>rilevazione del grado di soddisfazione dei prodotti e/o servizi offerti dalla Società;</li>
        <li>invio di inviti per eventi informativi e promozionali;</li>
        <li>ottemperanza agli obblighi di legge. </li>
    </ol>
    </p>
    <h2>2. MODALITÀ DEL TRATTAMENTO DEI DATI</h2>
    <p>
    I Dati saranno raccolti e trattati da Samira per le finalità elencate al precedente punto n. 1) sia manualmente sia con l'ausilio di mezzi elettronici, o comunque automatizzati, e comprendono - nel rispetto dei limiti e delle condizioni poste dall'art. 11 del D.L. 196/2003 - tutte le operazioni, o complesso di operazioni, previste dallo stesso decreto con il termine "trattamento". I Dati sono custoditi e controllati da Samira nel rispetto delle misure di riservatezza e di sicurezza
    previste dallo stesso decreto agli artt. 31 e ss. I Dati potranno essere trattati - per conto di Samira - da dipendenti, collaboratori, professionisti e/o società, incaricati di svolgere specifici servizi elaborativi o attività complementari a quelle di Samira, ovvero necessarie all'esecuzione delle operazioni e dei servizi di Samira. 
    </p>
    <h2>3. TIPI DI DATI TRATTATI</h2>
    <h3>3.1 Dati inerenti la navigazione</h3>
    <p>
    I sistemi tecnologici utilizzati per la gestione del Portale sviluppato da Samira leggono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet. Queste informazioni sono dati che non sono raccolti per essere associati a interessati identificati, ma che per loro stessa natura potrebbero, attraverso complesse elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli
    utenti. Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull'uso del portale e per controllarne il corretto funzionamento. I dati potrebbero essere utilizzati per l'accertamento di responsabilità in caso di ipotetici reati informatici ai danni del Portale e potranno essere esibiti all'Autorità Giudiziaria, qualora questa ne faccia esplicita richiesta.
    </p>
    <h3>3.2 Informazioni inviate in modo volontario dall'utente</h3>
    <p>
    L'invio facoltativo, esplicito e volontario di posta elettronica agli indirizzi indicati su questo Portale o mediante l'apposito Form dei Contatti, comporta la successiva acquisizione dei dati personali inseriti.
    </p>
    <h3>3.3 Cookies</h3>
    <p>
    Nessun dato personale degli utenti viene in proposito acquisito dal Portale. Non viene fatto uso di cookies per la trasmissione di informazioni di carattere personale, né vengono utilizzati sistemi per il tracciamento e l'identificazione degli utenti. L'uso di c.d. cookies è strettamente limitato alla trasmissione di identificativi di sessione (costituiti da numeri casuali generati dal server) necessari per consentire l'esplorazione sicura ed efficiente del Portale ed
    utilizzati ai fini statistici per la rilevazione dei visitatori unici mensili. Il cookie può essere eliminato dal navigatore utilizzando le funzioni del proprio programma di navigazione. 
    </p>
    <h2>4. NATURA DEL CONFERIMENTO DEI DATI</h2>
    <p>
    A parte quanto specificato per i dati relativi alla navigazione, l'utente è libero di fornire i dati personali richiesti nei form di contatto e/o moduli di richiesta presenti nel Portale. Il loro mancato conferimento può comportare l'impossibilità di ottenere quanto richiesto. 
    </p>
    <h2>5. DIRITTI DELL'INTERESSATO E MODALITÀ DI ESERCIZIO</h2>
    <p>
    Ai sensi dell'art. 7 del D.L. 196/2003, Le ricordiamo che Lei ha diritto di ottenere:
    <ol>
        <li>la conferma dell'esistenza o meno dei Dati e la loro comunicazione in forma intelligibile;</li>
        <li>informazioni in merito ai Dati;</li>
        <li>l'aggiornamento, la rettificazione ovvero - qualora sia interessato - l'integrazione dei Dati;</li>
        <li>la cancellazione, la trasformazione in forma anonima o il blocco dei Dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i Dati sono stati raccolti o successivamente trattati;</li>
        <li>l'attestazione che le operazioni di cui alle lettere c) e d) che precedono sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i Dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rileva impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato.</li>
    </ol>
    Sempre ai sensi dell'art. 7 del citato decreto, Lei ha altresì diritto di opporsi, in tutto o in parte:
    <ol>
        <li>per motivi legittimi, al trattamento dei Dati, ancorché pertinenti allo scopo della raccolta;</li>
        <li>al trattamento dei Dati a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</li>
    </ol>
    Per l'esercizio dei suddetti diritti Lei potrà trasmettere una richiesta, mediante posta elettronica, a: info@bagnialmare.com . 
    </p>
    <h2>6. TITOLARE E RESPONSABILE DEL TRATTAMENTO</h2>
    <p>
    Titolare e responsabile del trattamento dei Dati è Samira LTD, Unit 11 Hove Business Centre, Fonthill Road, Hove, BN3 6HA, Regno Unito. 
    </p>
    <h2>7. SERVIZIO GOOGLE ANALYTICS</h2>
    <p>
    Questo Portale utilizza Google Analytics, un servizio di analisi web fornito da Google, Inc. (“Google”). Google Analytics utilizza dei “cookies”, che sono file di testo che vengono depositati sul computer dell'utente che accede nel Portale per consentire al Portale stesso e ad Samira di analizzare come gli utenti utilizzano il Portale stesso. Le informazioni generate dal cookie sull’utilizzo del Portale da parte vostra (compreso il vostro indirizzo IP) verranno trasmesse a, e
    depositate presso i server di Google negli Stati Uniti. Google utilizzerà queste informazioni allo scopo di tracciare e esaminare il vostro utilizzo del Portale, compilare report sulle attività dello stesso per gli operatori del Portale e fornire altri servizi relativi alle attività del Portale e all’utilizzo di Internet. Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi trattino le suddette informazioni per conto di
    Google. Google non assocerà il vostro indirizzo IP a nessun altro dato posseduto da Google. Potete rifiutarvi di usare i cookies selezionando l’impostazione appropriata sul vostro browser, ma ciò potrebbe impedirvi di utilizzare tutte le funzionalità del Portale. Utilizzando questo Portale, voi acconsentite al trattamento dei Vostri dati da parte di Google per le modalità e i fini sopraindicati. 
    </p>
</div>
{% endblock %}
